[2018-05-25 19:10] chrisbrainerd commented on #915
Not sure if anyone's worked on this, but I've got a branch where I've got the basics working. Still got some kinks to work out, but can definitively say it's possible. Will keep working and get a PR in probably next week.

![brushy-brushy](https://user-images.githubusercontent.com/18501631/40562142-bd84b89c-602d-11e8-803a-06c76127ec92.gif)

[2018-05-25 19:13] chrisbrainerd commented on #915
Also I'm figuring this should be configurable by a prop - I'm assuming default behavior should be how things are now (if the mouse leaves the brushing box, stop brushing), but anyone have any opinions on what the prop should be called?

`allowMouseEscape` or something? I'm pretty stumped.

[2018-05-25 20:47] chrisbrainerd commented on #915
Yeah personally I'd prefer this as the default behavior but I'm always concerned with what would essentially be a breaking change UX-wise (though in my opinion still a definite improvement). Either way ¯\_(ツ)_/¯

[2018-05-25 21:39] boygirl commented on #915
Yes, understandable. I have a couple breaking changes planned for next week anyway, so depending on timing this could be added to the release. I don't mind the breaking change if I'm able to provide and document an easy migration path for folks, and this would definitely have one, with just a boolean prop to add to get back to the default.

[2018-05-27 02:52] #1004 closed

[2018-05-28 11:19] Utzel-Butzel commented on #576
This is the way I use the Tooltip for Bar Charts. On Stacked Bar Charts I create an invisible BarChart with the `BarTooltip` covering the Stacks so the Tooltips hover area will use this one and there is only one tooltip for each stack.

[code]
The Portal to display html-content across browsers. The `.tooltip` class must have some "position: fixed" styling.
[code]

[2018-05-28 13:57] sibelius commented on #725
@l3roken can you provide the function that you used?

it could help more people

@boygirl I think we can close this

or should victory handle this as well?

[2018-05-28 15:37] gokulramesh71 opened #1014 "Use Victory Voronoi container for Victory Pie"
As Victory Pie cannot be wrapped under Victory Chart, can you help me in how to use Victory Voronoi Container in Victory Pie?

[2018-05-28 19:10] boygirl commented on #1014
@gokulramesh71 Unfortunately they are incompatible. VictoryVoronoiContainer relies on the idea of an x y coordinate plane that does not exist in VictoryPie

[2018-05-28 19:10] #1014 closed

[2018-05-28 21:28] #1010 closed

[2018-05-30 17:09] chrisbrainerd commented on #915
@boygirl been working on this and have one case I'm having trouble with, wondering if you might be able to help.

So it works perfectly well as long as the mouse is still inside the bounding rect svg, but once it escapes that I need to:
1. figure out the mouse coords (easy, in the event)
2. figure out the root svg's coordinates on the page (where I'm having an issue).
3. figure out where on the pa

[2018-05-30 21:47] boygirl commented on #915
@chrisbrainerd

We're currently using a handful of methods in `victory-core`. This should help: https://github.com/FormidableLabs/victory-core/blob/master/src/victory-util/selection.js

`getParentSVG` uses recursion to get to the parent svg of an event target, but it isn't too sloppy, and we can cache it once we have it.

We use a matrix transformation rather than `getBoundingClientRect` to transl

[2018-05-30 22:40] Yaweii commented on #936
Anyone has any thoughts? I am getting stuck on this as well

[2018-05-30 23:10] LMojica opened #1015 "VictoryLegend should allow negative gutter and rowGutter"
### Checklist

* [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

* [x] I am using the

[2018-05-31 10:24] MrShedford opened #1016 "VictoryBar - Removing X-Axis Labels From Chart"
Hey guys, so I've been having trouble trying to figure out how to remove/hide the x-axis in VictoryBar. I want to hide it so I can replace it with my own labels (in the form of images) when rendered to the screen.

Is hiding the X-Axis currently supported by Victory Bar?

[2018-05-31 12:47] #1016 closed

[2018-05-31 12:47] MrShedford commented on #1016
Figured it out, didn't know we could specify it with labels :) My bad!

[2018-05-31 17:34] Yaweii commented on #936
@carloscpda @rsredsq Hi sorry for bothering you. I am trying to build the path transitions line chart and I've been getting stuck on this for days. Would you mind sharing some thoughts or ideas? Much appreciated!

[2018-05-31 17:42] chrisbrainerd commented on #915
Hm, so the issue I'm seeing is that `getParentSVG` (called from `Selection.getSVGEventCoordinates`) expects the event to be propagating from a descendant of an svg. To get this to work right, we need to listen for mouse events not just over the parent SVG and its descendents, but anywhere on the document, so the way I wired it up is that in `onMouseLeave`, it attaches the `onMouseMove` handler to

[2018-05-31 18:43] boygirl commented on #915
Hmm... It makes sense that the brush event would need to _start_ within a containing svg, so you could still get that reference using `getParentSVG` and then store it and continue using the reference for calculations after the mouse leaves. You would add an argument to `Selection.getSVGEventCoordinates` so that it works like this:
[code]
If you're having a hard time dealing with changes across mul

[2018-05-31 19:54] boygirl commented on #1015
Sure! I'll publish this change as a patch for `victory-core` today :)

[2018-05-31 20:00] #1015 closed

[2018-05-31 20:18] boygirl commented on #1015
@LMojica published as `victory-core@22.1.5`. You should be able to pick it up with a fresh install of `victory`

[2018-06-01 11:48] shubham-tin commented on #946
i am getting the same error even after updating lodash to the current version(4.17.10)
it is a dependency of mongoosastic ,

package : lodash
Dependency of : mongoosastic
Path: mongoosastic > elasticsearch >lodash

[2018-06-04 20:54] laurasilvani commented on #576
@Utzel-Butzel The idea of overlapping charts works but I need to use `node.getBoundingClientRect() + window.scrollY` in order to get the correct y position for the tooltip, otherwise its position is calculated on the basis of the viewport, not on the entire document.

[2018-06-04 22:01] vmazare opened #1017 "Inconsistent VictoryScatter tooltips behavior"
# Bugs and Questions

### Checklist

* [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2018-06-05 03:18] #1008 closed

[2018-06-05 03:18] #1009 closed

[2018-06-05 04:39] boygirl commented on #915
@chrisbrainerd heads up, I just did a bunch of refactoring in `victory-core` and I touched the Selection util. I ended up making the changes we discussed last week.

[2018-06-05 09:32] Juli0GT opened #1018 "VictoryChart changes height, when y values on VictoryBar are 0"
I would like to know how can I make the height of my charts fixed, as it changes when the y values of my VictoryBar are 0.  All the parameters are the same, but visually the chart has a smaller height.

Thanks.

![captura de pantalla 2018-06-05 a las 11 30 34](https://user-images.githubusercontent.com/20701393/40967670-ecd0253a-68b3-11e8-8fc9-f8b657cd4b40.png)

[2018-06-05 18:50] boygirl commented on #1018
@Juli0GT that is very strange. The value of your bars should not be altering the height of your chart. Can you reproduce this issue you're seeing in a fiddle?

[2018-06-05 21:42] boygirl commented on #1009
To avoid the breaking change this new behavior will only be enable when the new `singleQuadrantDomainPadding` prop is set to false (or an object with false for x and/or y). If this prop is omitted or set to true, `domainPadding` will be limited to existing quadrants (old behavior)

[2018-06-06 01:17] boygirl commented on #1001
This is expected behavior. When an exact domain is specified, domainPadding is not applied.

[2018-06-06 01:17] #1001 closed

[2018-06-06 01:19] boygirl commented on #977
I'm closing this issue since there have been changes in sCU logic. I will re-open if your issue persists in the `victory^0.27.0`

[2018-06-06 01:19] #977 closed

[2018-06-06 01:21] boygirl commented on #976
If you want to add an event to the entire chart, you should use `target: "parent"`

[2018-06-06 01:21] #976 closed

[2018-06-06 01:27] boygirl commented on #925
`minDomain` and `maxDomain` props were added in `victory@0.27.0`

[2018-06-06 01:27] #925 closed

[2018-06-06 01:28] boygirl commented on #914
added in `victory@~0.26.0`

[2018-06-06 01:28] #914 closed

[2018-06-06 01:30] boygirl commented on #843
use `externalEventMutations`: https://formidable.com/open-source/victory/guides/events/#external-event-mutations

[2018-06-06 01:30] #843 closed

[2018-06-06 01:31] #670 closed

[2018-06-06 01:33] boygirl commented on #940
This issue is fixed in `victory@0.27.0`

[2018-06-06 01:33] #940 closed

[2018-06-06 01:37] boygirl commented on #981
Closing this issue, but I will re-open if the suggested `renderInPortal` fix is not sufficient

[2018-06-06 01:37] #981 closed

[2018-06-06 01:38] boygirl commented on #1003
@sibelius check it out: https://www.chromaticqa.com/library?appId=5abd2c1b7c94b400209839e8

[2018-06-06 01:38] #1003 closed

[2018-06-06 01:40] boygirl commented on #985
@rweller59 Try setting `horizontal` on `VictoryGroup` instead or on each bar

[2018-06-06 01:40] #985 closed

[2018-06-06 01:44] #725 closed

[2018-06-06 01:46] boygirl commented on #299
fixed in latest versions of Victory

[2018-06-06 01:46] #299 closed

[2018-06-06 01:47] #361 closed

[2018-06-06 01:48] #419 closed

[2018-06-06 01:49] boygirl commented on #494
fixed by moving to named exports

[2018-06-06 01:49] #494 closed

[2018-06-06 01:53] boygirl commented on #549
@ryan-roemer I'm going to close this, but ping me if you think it should remain open.

[2018-06-06 01:54] #554 closed

[2018-06-06 01:56] boygirl commented on #595
fixed :)

[2018-06-06 01:56] #595 closed

[2018-06-06 01:58] boygirl commented on #748
We are no longer applying arbitrary attributes from the data object onto styles, so this issue should be fixed.

[2018-06-06 01:58] #748 closed

[2018-06-06 02:00] boygirl commented on #922
@humphreybc this was occurring because Victory's shouldComponentUpdate logic was using a comparison that returned `true` when both values were functions without comparing them. As of `victory@0.27.0` the comparison returns false when functions are not identical.

[2018-06-06 02:00] #922 closed

[2018-06-06 02:38] ryan-roemer commented on #549
We should verify first that present victory works with tree-shaking for webpack4. I believe there still may be issues. Let's pull a branch in https://github.com/FormidableLabs/victory-line-experiments and update webpack + victory deps and see.

[2018-06-06 04:13] younitee commented on #997
you could try labels and labelComponent on each VictoryBar instead

[2018-06-06 04:24] younitee opened #1020 "VictoryStack label with VictoryBar tooltip"
Can either have VictoryStack with label or VictoryBar with tooltip but not both... is there a reason for this?

[code]

With this example, only the labels render at end of stack but tooltips do not.

[2018-06-06 08:48] Juli0GT commented on #1018
Hi @boygirl , thanks a lot for the quick response, thats the code of my bar chart.

https://jsfiddle.net/amx3o8qc/

[2018-06-06 22:05] boygirl opened #1021 "Optimize CI"
On all victory repos

[2018-06-06 23:36] boygirl commented on #1021
From @ryan-roemer
6, 8, 10 is a good list. We can optimize the travis build with things like:

- Remove the extra build command since `postinstall` does a full build already
- Switch to `yarn` with a `yarn.lock` file and use `yarn install --frozen-lockfile` for install speed. (The `npm install` is the slowest part of CI).

feel free to ticket out and I can help!

[2018-06-07 14:29] ryan-roemer commented on #549
@boygirl -- I updated everything in https://github.com/FormidableLabs/victory-line-experiments to completely modern and we're all good: in dev (with optimizations on) or prod (straight up) one-off is the same as tree shaken:

[code]

🎉

[2018-06-07 14:29] #549 closed

[2018-06-07 17:28] boygirl opened #1022 "Don't use a symmetric single point domain on zero values"
Typically when Victory has only a single data value for trying to calculate a domain it will symmetrically pad that single point with a very small number so that a domain with two distinct values results. This can cause a new quadrant to be added to charts that should really be single quadrant. This is mostly unnoticeable, but can become very confusing given how `domainPadding` works. This user is

[2018-06-07 17:53] chrisbrainerd commented on #915
:+1: got it pulled in, thanks!

So more questions since this is continuing to be trickier than I expected. The best implementation I can come with involves attaching an event listener to the `window`, not just the event target or parent.

Here's a fiddle of the concept, which seems to be how a number of other libraries are functioning: https://jsfiddle.net/wjrmL47v/26/

The issue I'm having here i

[2018-06-11 06:26] rsoni0809 opened #1023 "Victory line chart zoomcontainer functionality, how to customize X axis time format (any specific time format except default in victory e.g. Apr 15, )"
Hello and thanks for this library.

I am trying to implement Victory line chart VictoryZoomContainer with my customized data where time is coming as millisecond format e.g. 1523620018000. When from the documentation following line work on changing time format in x axis:
<VictoryChart width={400} height={400} scale={{x: "time"}} -- fixed time format as in Victorychart Doc: e.g. Apr 15

[2018-06-11 09:18] rsoni0809 commented on #576
@Utzel-Butzel: Thanks for this idea. Could you please share working demo jsfiddle or other for your implementation ?

[2018-06-11 17:44] kaiyoma opened #1024 "After upgrade to 0.27.0, VictoryArea and VictoryLine no longer match up"
In our project, we render line graphs via a `VictoryArea` overlaid with a `VictoryLine`, like this:

![victory-0 26 1](https://user-images.githubusercontent.com/10719780/41247777-f3e474de-6d63-11e8-8699-9bbeb2859a14.png)

Without changing any of our code, if I upgrade from 0.26.1 to 0.27.0, the graphs now look like this:

![victory-0 27 0](https://user-images.githubusercontent.com/10719780/4124781

[2018-06-11 18:21] boygirl commented on #1024
Yikes! I'll take a look today

[2018-06-11 20:09] bewildergeist commented on #848
Try setting a `duration` setting on top-level `animate` object too (i.e. sibling to `onLoad` and `easing`). That seems to do the trick for me, oddly enough.

[2018-06-11 22:31] boygirl commented on #915
@chrisbrainerd that's exciting! I'll carve out some time tomorrow to take a look and review :)

[2018-06-11 23:30] ikassi opened #1025 "VictoryTooltip don't seem to show up when using VictoryLine"
# Bug

### The Problem
I could be missing something but VictoryTooltip don't seem to show up when using VictoryLine, is that the intended behaviour?

### Reproduction
You can see an example here: https://codesandbox.io/s/k5yzzrzzj3
[code]

[2018-06-11 23:46] boygirl commented on #1025
@ikassi `VictoryLine` only has one event target (just the single line element), so `VictoryTooltip` wont work properly. Try using `VictoryVoronoiContainer` to add your tooltips: https://formidable.com/open-source/victory/docs/victory-voronoi-container/

[2018-06-11 23:46] #1025 closed

[2018-06-12 15:49] Ericky14 opened #1026 "Horizontal Victory Chart"
# Bugs and Questions

### The Problem

When horizontal labels contain too much text, they overflow to the left and are hidden.

### Reproduction

BarChartContainer is a div with an svg inside.
Chart is just VictoryChart.
[code]

<img width="993" alt="screen shot 2018-06-12 at 11 37 29 am" src="https://user-images.githubusercontent.com/21248862/41301485-0cd6b0e2-6e36-11e8-85f4-917f747aedc3.png">

I

[2018-06-12 18:17] Ericky14 opened #1027 "Horizontal Bar Chart Axis Alignment/Padding"
In a horizontal bar chart, is it possible to extend the bars in such a way that the left-most axis tick text is aligned right and the right-most tick text is aligned left?

<img width="748" alt="screen shot 2018-06-12 at 2 16 12 pm" src="https://user-images.githubusercontent.com/21248862/41308967-5461ce6e-6e4b-11e8-9351-6a54345f55f2.png">

What I mean is in this case have the 0 and the 70 complete

[2018-06-13 00:52] #1022 closed

[2018-06-13 00:52] #1024 closed

[2018-06-13 01:17] boygirl commented on #1024
Hi there, I just published a patch to `victory-core` that should correct this issue. You can pick it up with a fresh install of victory. The problem was occurring because we were forcing `VictoryArea`'s domain to include zero even when an explicit domain was provided.

[2018-06-13 13:12] jamesmcn1 commented on #470
Hi there - is this feature been added yet?? We dynamically adjust our chart timeline similar to a stock index chart (3 month, 6 month, 1 year, All time etc), so we would need the boundaries to adjust upon cursor change or on filter change

[2018-06-13 19:04] boygirl commented on #1027
@Ericky14 you can use functional styles on `VictoryAxis` like `style={{ tickLabels: { textAnchor: (tick, index, ticks) => index === ticks.length - 1 ? "end" : "start" } }}`

[2018-06-13 19:04] #1027 closed

[2018-06-13 19:10] boygirl commented on #1026
@Ericky14 You can try bringing your labels up into Victory's portal which will allow them to overflow Victory's svg. You can do this by adding `renderInPortal` to the labels rendered by `VictoryAxis` like so:
[code]
Then just make sure whatever you're rendering your chart in also has `overflow: "visible"`

You could also try splitting your labels into multiple lines with the newline character.

[2018-06-13 19:10] #1026 closed

[2018-06-13 19:14] boygirl commented on #1023
@rsoni0809 You can format your times either in `VictoryAxis` using the `tickFormat` prop. It takes a function, and will receive each timestamp tick as an argument. It's then up to you to format it either using JS `Date` methods or a library like moment.js. If you need to format labels, you would do the same thing with your `labels` prop

[2018-06-13 19:14] #1023 closed

[2018-06-13 19:18] boygirl commented on #915
@chrisbrainerd actually, would you mind converting your work to an actual PR on `victory-chart`?

[2018-06-13 19:45] chrisbrainerd commented on #915
Can do - left one comment on the branch though that would need to be handled - not sure how you'd like to handle that

[2018-06-13 19:47] boygirl commented on #915
:/ manually I suppose. Sorry about that

[2018-06-13 19:49] boygirl commented on #915
Or we can just pick up the conversation in your PR. I think the only sticky part is around `window.addEventListener` which I really would like to avoid.

[2018-06-13 20:31] chrisbrainerd commented on #915
Hm what about this approach - instead of hardcoding `window` we just do `hostNode.addEventListener` and add in `hostNode` as a prop. I think this way you could essentially control what the bounds of the listener are - so you could for instance bind the mouse to whatever container you wanted, with the weird edge case that binding it to the window actually binds it to outside of the window too
https

[2018-06-13 20:45] boygirl commented on #915
Yeah, that seems like a possibility. I definitely need to play with your branch a bit more

[2018-06-13 20:54] chrisbrainerd commented on #915
:+1: fwiw I'd highly recommend starting with the fiddle if you're not 100% groking how the handlers work - took me ages and really could only start to understand the edge cases by using a minimal example.

[2018-06-14 19:51] boygirl commented on #915
@chrisbrainerd please open a WIP PR of your branch on `victory-chart` when you get a chance. That will be the best way for us to collaborate.

[2018-06-15 15:39] chrisbrainerd commented on #915
https://github.com/FormidableLabs/victory-chart/pull/601 opened :+1:

Combined the two mouse handlers so it's just one function being called with different args, and the only issue I'm seeing right now is that there's some funkiness if you manage to click and drag outside of the original svg and mouseup real fast. My hunch is that it's the way the mutations are stacking since the mouseMove is thro

[2018-06-15 16:04] lejager commented on #513
Has anyone managed to do this? I'm working on implementing it, and not sure the right approach. Is there a way to pass in a label to the slice component, or do I need to create a custom component based on slice? Any insight is much appreciated.

[2018-06-15 16:17] Utzel-Butzel commented on #576
@laurasilvani I've used a position: fixed element to display the Tooltip. @rsoni0809 Yes, I can add an example

[2018-06-15 20:31] boygirl commented on #513
@lejager are you interested in adding this feature to Victory? If so the answer is more complex. If you need to add it it in your own app, you would do some math on your data to figure out the sum of all your y data values, and then add a label prop like `labels={(datum) => `${datum.y / myTotal}%`}`

[2018-06-18 20:37] laurasilvani commented on #576
@Utzel-Butzel Yes, I noticed the fixed position, but it happened I scrolled while the tooltip was visible and didn't like it was fixed. So I am setting a fixed width to the chart and added some calc involving the width and height of the chart to place the tooltip correctly

[2018-06-19 18:57] Ericky14 commented on #1026
@boygirl If I use ```overflow: "visible"```, then it will render the labels outside the component. Also, I am getting this warning and the Label doesn't seem to be rendered in a portal and the graph doesn't account for its width at all. ```"renderInPortal" is not supported outside of "VictoryContainer". Component will be rendered in place```

I did find a solution for this, though it might not be

[2018-06-19 19:09] Ericky14 commented on #1027
@boygirl Oh cool, didn't know ```text-anchor```, not much experience with svgs haha.
Also, that function doesn't quite work because ```ticks``` is undefined.

[2018-06-20 12:53] yogeshR5 commented on #545
+1
@boygirl  i got same issue what i have to do now?

[2018-06-20 13:21] fwielstra opened #1028 "Aligning bars in between axes?"
# Bugs and Questions

### Checklist

* [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2018-06-20 19:12] boygirl commented on #545
We added a `voronoiBlacklist` prop. It can be used like so:
[code]

[2018-06-20 19:14] #545 closed

[2018-06-20 21:14] #619 closed

[2018-06-22 06:18] boygirl commented on #1028
@fwielstra This issue has made me realize that `transforms` supplied to data components were not being applied to dataComponents correctly. I just released a fix. If you're able to update to the latest version of Victory and do a fresh npm install you should be able to pick up the patch release `victory-core@24.0.1`. Then you can do something like this:
[code]

If you're not able to use the latest

[2018-06-22 06:18] #1028 closed

[2018-06-22 06:32] boygirl commented on #869
The issue with axis label formatting is fixed in the latest version (`victory@0.27.1`). The need for domainPadding is expected behavior. I'm going to close this issue, but please let me know if the problem persists.

[2018-06-22 06:32] #869 closed

[2018-06-22 06:33] boygirl commented on #849
@jeghers @younitee

This issue was just fixed in the latest version `victory@0.27.1`

[2018-06-22 06:33] #849 closed

[2018-06-22 06:34] jeghers commented on #849
Too late. Moved on long ago.

On Thu, Jun 21, 2018, 11:33 PM Lauren <notifications@github.com> wrote:

[2018-06-22 06:34] #717 closed

[2018-06-22 06:35] boygirl commented on #666
This issue is fixed in the latest version `victory@0.27.1`

[2018-06-22 06:35] #666 closed

[2018-06-22 06:43] boygirl commented on #997
The issue you're running into is that labels on `VictoryStack` are designed to only add labels to the top most bar in the stack so that they appear to reference the whole stack rather than individual elements within it.

If you want each bar element to have its own tooltip, you should do as @younitee suggests. If you want each stack to have only a single label, you can have a nicer hover experienc

[2018-06-22 06:43] #997 closed

[2018-06-22 06:46] boygirl commented on #965
this issue has been resolved in the latest version

[2018-06-22 06:46] #965 closed

[2018-06-22 06:51] boygirl commented on #1020
@younitee Yes, currently `VictoryStack` does not render any elements of its own, it just _modifies_ its children. So stack labels are actually labels on the top most bar. The conflict you're seeing is the `labelComponent` provided by `VictoryStack` overriding the one on `VictoryBar`. You can get around this by providing a custom `labelComponent` to `VictoryStack` that renders both a label and a to

[2018-06-22 06:51] #1020 closed

[2018-06-22 07:33] fwielstra commented on #1028
Hmm, I have the latest version now but that transform method doesn't seem to work. The subclass with a custom x parameter works great though, thanks!

[2018-06-23 18:57] #910 closed

[2018-06-24 05:28] boygirl commented on #1005
setting xName manually is not recommended. It is typically set by Victory when data is categorical. Victory computes a string map for categorical behavior that starts at one, so this is expected behavior.

[2018-06-24 05:28] #1005 closed

[2018-06-24 05:29] #901 closed

[2018-06-24 05:39] boygirl commented on #947
@iprignano thank you for the reproduction. I'm sorry for such a long delay. I was able to reproduce your issue with the latest version of Victory. I will work on fixing it in the coming week.

[2018-06-24 05:44] boygirl commented on #945
@lgerndt I'm sorry for the long delay. I believe this is actually expected behavior. Mutations caused by Victory's event system are kept when props change so that you can do things like see a highlighted point move during an animation. You can use the `externalEventMutation` prop to clear mutations at the same time you trigger a new dataset, or you can manually set very different eventKeys for you

[2018-06-24 05:44] #945 closed

[2018-06-24 05:48] boygirl commented on #889
This issue has been resolved.

[2018-06-24 05:48] #889 closed

[2018-06-24 05:53] #109 closed

[2018-06-24 05:54] #438 closed

[2018-06-24 05:58] #566 closed

[2018-06-24 06:00] #557 closed

[2018-06-24 06:01] #755 closed

[2018-06-24 06:02] #716 closed

[2018-06-24 06:02] #665 closed

[2018-06-24 06:09] boygirl commented on #960
@dlopuch Thank your for reporting this and including such a helpful reproduction. I apologize for the long delay. I will look into a fix in the coming week.

[2018-06-24 06:11] boygirl commented on #943
I am not able to reproduce this issue in the latest version. I am closing this issue for now

[2018-06-24 06:11] #943 closed

[2018-06-25 03:41] f0rr0 opened #1031 "Voronoi should take into account x0 and y0"
# Bugs and Questions

### Checklist

* [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2018-06-25 05:00] boygirl commented on #1031
@f0rr0 this is tricky, since a voronoi diagram calculates optimized trigger areas for single points. It works great for lines and points, but it is not ideal for bars. Currently, the voronoi diagrams are calculated for the point corresponding to the top of each bar (y). I could change this so that the voronoi diagram is calculated for the midpoint between y0 and y. that might make more sense for b

[2018-06-25 05:03] f0rr0 commented on #1031
I agree it’s more suited to discrete data but in this case there is a discrete point x0,y0 and I think it makes sense to include it in calculating the voronoi function

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Lauren <notifications@github.com>
Sent: Monday, June 25, 2018 7:00:40 AM
To: FormidableLabs/victory
Cc: Sid; Mention
Subject: Re: [FormidableLabs/vic

[2018-06-25 06:51] iprignano commented on #947
No problem at all. Thank you very much for your work!

[2018-06-25 18:57] boygirl commented on #1031
I think the best I can do is use the midpoint between y and y0, but I will make that change.

[2018-06-25 22:33] Ericky14 opened #1032 "VictoryLegend Weird Width/Layout"
# Bugs and Questions

### Checklist

* [v] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [v] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2018-06-25 22:46] boygirl commented on #1032
@Ericky14

1) VictoryLegend does not automatically wrap on overflow, but you can specify `itemsPerRow` to get it to render several lines of items. How this works is that it will render `itemsPerRow` items in a row, and then render more in a second row and so on.

2) Unfortunately Victory _approximates_ rather than measures test sizes for performance reasons. This means that the element widths can

[2018-06-26 13:05] StraightOuttaCrompton opened #1033 "Typescript Support: maintain our own typings"
# Bugs and Questions

### Checklist

* [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2018-06-26 13:59] Ericky14 commented on #1032
@boygirl
I was able to figure out a really good solution, thanks. :)

[code]

[2018-06-26 13:59] #1032 closed

[2018-06-26 18:22] boygirl commented on #1033
@StraightOuttaCrompton I'm sorry, we don't publish typescript typings for Victory, but instead rely on the community. I would guess that the typings are out of date. I will change the title of this issue.

[2018-06-26 18:34] boygirl commented on #380
@mjanandparihar92 check out this guide on wrapping and customizing VictoryTooltip. You can use this to alter the x and y prop that are used to position your tooltip. https://formidable.com/open-source/victory/guides/tooltips/#wrapping-victorytooltip

The reason this has not been implemented in the main library is because there are many edge cases involved in correctly positioning the tooltip point

[2018-06-26 20:05] StraightOuttaCrompton commented on #1033
Is there someone in the community I can contact about it? Or is it possible I can try and resolve it myself?

[2018-06-27 05:37] mjanandparihar92 commented on #380
@boygirl wow, that exactly I implemented yesterday, happy to see that this is correct way. thanks for replying. Victory should document this as there are other things which was needed and this is very common handling in any chart.

what works for me :

[code]

I think tooltip `orientation` should provide these values or may be some flag prop to enable accessibility  of these value in `orientation`

[2018-06-28 09:05] benco03 commented on #883
@boygirl I've just been stung by this bug as well. I'm creating a graph that tracks events per minute for the last x minutes. It's entirely valid that my graph can be empty - but I don't see how it's valid to suggest that a developer override the domain in the situation where the graph is empty, just to avoid showing the 'very small number' on your axis.

If setting a 'very small number' as the ma

[2018-06-28 11:06] fwielstra opened #1034 "VictoryZoomContainer passes scroll and pinch events to browser"
# Bugs and Questions

### Checklist

* [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2018-06-28 18:30] boygirl commented on #883
@benco03 I'm sorry this gave you a hard time. Unfortunately setting a [0, 1] domain as a default is not sensible for all user data. In fact, no set default domain can cover all cases, which is why we choose to pad single values with `verySmallNumber` instead. The documentation could definitely be improved. I will open an issue in our `victory-docs` repo.

[2018-06-28 18:40] boygirl commented on #1034
@fwielstra Thank you for this issue. Can you help me narrow it down a bit?
- Are you seeing this issue without `createContainter` + `VictoryVoronoiContainer`?
- Does this only happen when `allowZoom={false}`?
- Does this only happen with `responsive={false}`?

[2018-06-28 18:48] boygirl commented on #1033
You could reach out to the contributors or make a PR here: https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/victory/index.d.ts

We will likely bring these types under our maintenance umbrella in the coming months. Sorry for the trouble in the meantime.

[2018-06-28 21:49] StraightOuttaCrompton commented on #1033
Ok, that's brilliant. Thank you for your hard work!

[2018-07-02 10:48] therise3107 opened #1035 "VictoryAxis not plotting tick marker [Help Wanted / Potential Feature]"
[code]
I'm trying to render area graph grouped with `VictoryGroup`. Here is my x-axis code with SS of my current graph.
[code]

<img width="700" alt="screen shot 2018-07-02 at 4 09 55 pm" src="https://user-images.githubusercontent.com/2356810/42159803-ac4c30a2-7e12-11e8-8472-5f4a171f75d1.png">

I want to render above graph similar to this one
<img width="815" alt="screen shot 2018-07-02 at 4 14 07

[2018-07-02 15:17] cleverettgirl opened #1036 "VictoryBar and tick alignment off"
Hello! First of all, great library! I was really excited when we decided to use it.. I am having a little bit of an issue though, with VictoryBar and tick alignment. I can't figure out what's causing it be funky and i've tried different combinations of domainPadding and tickLabelComponent props, but to no avail.

Picture of when it's not too bad
<img width="943" alt="screen shot 2018-06-29 at 1 52

[2018-07-02 16:06] jadus opened #1037 "Can't scroll page on touch device"
# Bugs and Questions

### Checklist

* [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2018-07-03 05:31] boygirl commented on #1037
@jadus I'm not able to reproduce this issue. Some elements in the gallery do have scroll events enabled (like the brush and zoom example), and these will capture the scroll event rather than scrolling the page. I haven't seen this behavior happen with other chart elements, though.

[2018-07-03 05:31] #1037 closed

[2018-07-03 05:34] boygirl commented on #1035
@therise3107 try adding a style like this:

[code]

[2018-07-03 05:34] #1035 closed

[2018-07-03 08:47] jadus commented on #1037
I've added <svg viewBox="0 0 400 400"> around my chart and standalone={false} width={400} height={400} in my component and it solves my problem, thanks.

[2018-07-04 07:47] redixhumayun commented on #1033
I am facing the same issue with VictoryVoronoiContainer and VictoryTooltip.

I tried working around this by defining the typings in my local index.d.ts file for @types/victory. But, that doesn't seem to fix the issue. Is there a workaround to this or do I simply have to wait for the typings file to be updated?

[2018-07-04 16:53] devth opened #1038 "Toggle victory lines with legend"
# Feature Requests

### Checklist

* [x] I've read through the [Docs](https://formidable.com/open-source/victory/docs) and [Guides](https://formidable.com/open-source/victory/guides) to make sure this functionality doesn't already exist

* [x] I've searched open issues to make sure I'm not opening a duplicate issue

### Description

I'd like to toggle the visibility of victory lines by pressing on

[2018-07-04 21:44] boygirl commented on #1038
@devth if you're using `VictoryLegend` as a child of `VictoryChart` you can add your events prop as a prop on `VictoryChart` and then address children of `VictoryChart` by name, and share events between children. `VictoryChart` uses `VictorySharedEvents` to do this. You can read about it here: https://formidable.com/open-source/victory/docs/victory-shared-events/.

I'm confused as to why events on

[2018-07-04 21:44] #1038 closed

[2018-07-04 22:03] devth commented on #1038
Yep. Thanks!

[2018-07-05 15:28] NugzarGaguliya opened #1039 "dotum of two charts"
# Bugs and Questions

### Checklist

* [ + ] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [ + ] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a ques

[2018-07-05 17:58] boygirl commented on #1039
@NugzarGaguliya For this you will need to make a custom `labelComponent`. You can use `VictoryVoronoiContainer` to get the two points closest to the `x` position of your mouse. Here's an example of multi-point tooltip labels https://formidable.com/open-source/victory/gallery/multipoint-tooltip-labels/
This guide should help you get started with making a custom label component: https://formidable.c

[2018-07-05 22:02] jarrx commented on #264
Any solution to this yet. I have the same problem.

[2018-07-05 23:32] boygirl commented on #264
@jarrx

This issue has been solved by adding the prop `singleQuadrantDomainPadding`. Please read about it here: https://formidable.com/open-source/victory/docs/common-props/#singlequadrantdomainpadding

[2018-07-07 19:29] devth opened #1040 "Capture onClick / onPress anywhere in a VictoryChart"
# Bugs and Questions

### Checklist

* [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2018-07-09 02:42] dakahn commented on #513
I'm down to work on this @boygirl

[2018-07-09 12:09] StraightOuttaCrompton commented on #1033
You'll have to make a pull request as @boygirl has suggested and edit the typings to make it work or wait until they start maintaining their own typings. I am planning on making a pull request at some point if I get time.

[2018-07-09 15:56] robinwkurtz opened #1041 "Adding styling to grid of axis"
# Bugs and Questions

### Checklist

* [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2018-07-09 16:48] NugzarGaguliya commented on #1039
Thanks

[2018-07-09 16:48] #1039 closed

[2018-07-09 19:55] boygirl commented on #1040
@devth If you want your `onClick` event to trigger from anywhere on the chart, you should attach you event to the "parent" target. You can read more about the events prop here: https://formidable.com/open-source/victory/docs/common-props/#events. I'm going to close this issue, but please let me know if you are still stuck.

[2018-07-09 19:55] #1040 closed

[2018-07-10 18:12] jacargentina opened #1042 "VictoryStack is not padding single point domains"
# Bugs and Questions

### Checklist

* [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2018-07-10 18:14] jacargentina commented on #1042
I'm sure it is related to the use of animations; if i remove the `animate= ... ` the warning is gone.

[2018-07-11 03:43] JohnHour89 opened #1043 "May I know how to do the victory line chart in real time?"
Hi, may I know how to do the line chart in real time? Below is the code:

`<div className="column">
          <div className="panel">
            <div className="chart-header">Temperature</div>
              <VictoryChart
                theme={VictoryTheme.material}
                width={1500}

                <VictoryLine
                  style={{
                    data: { stroke: "#c43a31"

[2018-07-12 04:46] yogeshR5 opened #1044 "VictoryCursorContainer cursorComponent Line color doesn't change"
# Bugs and Questions
VictoryCursorContainer cursorComponent Line color doesn't change and if x-axis value is string does not display proper given input data.

I attached screenshot link for without Line color but x-Axis value doesn't control it.
https://drive.google.com/a/ewallsolutions.com/file/d/10oqP8EN3PIiu1KCxFzcLHPYFKmBJQ3nR/view?usp=drivesdk

I attached screenshot link for Line color but x-

[2018-07-12 23:04] boygirl commented on #1044
@yogeshR5 VictoryCursorContainer will translate your mouse position into a data position. If you're using string data, Victory will convert your strings into an integer string map like `{1: "cat", 2: "dog"...}` and your domain will end up looking like `[1, 2]` or something. There isn't a way for your mouse position to be converted _back into string values_. Think about it this way, if your mouse p

[2018-07-12 23:04] #1044 closed

[2018-07-13 15:38] olivia-leach opened #1046 "VictoryStack error with time series data"
### The Problem

`VictoryStack` appears to be mishandling time data - the error thrown is `Error: <path> attribute d: Expected number, "M NaN, 100\n      A…".`

I believe this is a new error, although I'm not sure when it broke. I was able to do this successfully in previous versions.

### Reproduction

https://codesandbox.io/s/pmj6lrz0w7

3 examples:
1. Time series with VictoryStack (broken)
2. T

[2018-07-13 17:37] bbshih commented on #1033
@redixhumayun I've been pushing some PRs to update the types to the DefinitelyTyped repo, including a full VictoryTooltip interface that it was missing. There are a lot of issues in the current types that I've had to fix, the biggest I've encountered was ToolTips missing and I think VictoryTheme type is completely out of date.

[2018-07-13 18:08] wilkesybear opened #1047 "X and Y datum properties are undefined in Label Formatting for custom x/y data accessors"
### The Problem

For series that define the X and Y data accessor properties to be attributes other than `'x'` and `'y'`, newer versions of Victory are no longer setting the `x` and `y` props on datum objects when passed into the `labels` formatting function *for newer releases of Victory (0.27+)*.

Reproduction: https://codesandbox.io/s/9yzv32rj3r

On the first Bar series, the Y prop is `yy`, but

[2018-07-14 13:08] StraightOuttaCrompton commented on #1033
This PR has solved the issue I was originally having
https://github.com/DefinitelyTyped/DefinitelyTyped/pull/27048

[2018-07-15 21:58] jacargentina opened #1048 "Support `colorScale` for `VictoryChart`"
Demo is https://codesandbox.io/s/kxq1ypo1ov

The original code does not contains any `<VictoryGroup />`: it was added to make lines have colors; would be nice to have `<VictoryChart />` do the same, and not having to add extraneous elements just for applying the theme correctly

[2018-07-17 21:24] devth commented on #1040
@boygirl I confirmed this works on web but not on victory-native with `onPress` or `onPressIn`. Any ideas?

[2018-07-17 21:29] devth commented on #1040
Might be related to https://github.com/FormidableLabs/victory-native/issues/212

[2018-07-18 03:23] JarLowrey opened #1052 "Duplicate tool tips when using line and scatter"
# Bugs and Questions

### Checklist

* [x ] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [x ] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a questi

[2018-07-19 06:01] tomciopp commented on #1042
I don't believe this is related to the animate prop. I get the same error in the following components `VictoryGroup`, `VictoryAxis`, `VictoryScatter` and `VictoryLine`. None of those are using the animate property on my side. I am using `scale`, `style`, `theme`, `width`, `height`, and `domain`

[2018-07-19 15:57] CWolfs opened #1053 "Version number jump from v0.27.2 to v30.x.x"
I've noticed the version number recently jumped from `v0.27.2` to `v30.x.x`. It feels like this was not intended? I assume it should actually be `v0.30.x`?

I notice it's the same in NPM registry.

[2018-07-19 16:12] boygirl commented on #1053
@CWolfs this change is very intentional. You can read about it here:
https://formidable.com/blog/2018/victory-is-turning-thirty/

[2018-07-19 16:12] #1053 closed

[2018-07-19 16:15] CWolfs commented on #1053
Ah great. Thanks for the link.

[2018-07-19 19:14] ProtenusBill opened #1054 "VictoryBar displays thin bar if only a single data point is present"
# Bugs and Questions

### Checklist

* [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2018-07-20 10:29] dominictwlee opened #1055 "Dealing with tickFormat for zoomable charts"
So i followed the "Zoom on Large Datasets" guide and created a zoomable victoryArea chart that displays a 24-hour period of heart rate data. Data points are given at 1-minute intervals (unix timestamps) with a total of 1440 points. I'm currently using ```scale={{ x: 'time' }}``` but would like to change the format to a 24-hour clock instead. What would be the easiest way to achieve this?

[2018-07-21 03:30] boygirl commented on #1054
@ProtenusBill Thank you for this issue. This is definitely a bug on our end. As a temporary work around, you can set a `width` in your bar styles when there is only a single bar.

[2018-07-21 03:32] boygirl commented on #1052
@JarLowrey to get around this, you can use the `voronoiBlacklist` prop to ignore one of the components. You can read more about this prop here: https://formidable.com/open-source/victory/docs/victory-voronoi-container/#voronoiblacklist

[2018-07-21 03:32] #1052 closed

[2018-07-21 03:37] boygirl commented on #1047
@wilkesybear Victory has moved to only adding `_x` and `_y` to user data so as to not wipe out the more commonly user-supplied `x` and `y` attributes. If you change your label function to `d => d._y` you should get the desired behavior. I apologize for the confusion. I will add an issue to our docs repo to make this clearer.

[2018-07-21 03:37] #1047 closed

[2018-07-23 09:02] fwielstra commented on #1034
Hi @boygirl , thank you for your reply and I apologise for not replying sooner, I was er, distracted by other work for a while.

I've tried to reproduce this issue again and I couldn't; I don't know if I've changed something in the chart (like what you've suggested) or the page itself, but I can't reproduce the issue anymore and things work as they should. Thank you for your reply!

[2018-07-23 09:02] #1034 closed

[2018-07-23 12:40] wilkesybear commented on #1047
One thing here that I'm struggling with is that the `_x` value is not necessarily the same value of the x that was passed in. Looking back at my example, it seems that `_x` inherits the _index_ of which x tick that value is for. So, if my x values were dates, I would instead get 1, 2, 3, ... for the `_x`, rather than an actual date value. This matters because formatting a tooltip may require the r

[2018-07-24 17:28] redixhumayun opened #1056 "Custom colorScale for VictoryStack"
Feature Requests

* [X] I've read through the [Docs](https://formidable.com/open-source/victory/docs) and [Guides](https://formidable.com/open-source/victory/guides) to make sure this functionality doesn't already exist

* [X] I've searched open issues to make sure I'm not opening a duplicate issue

### Description
The docs state that the colorScale for the VictoryStack component operates based on

[2018-07-24 20:51] eballeste opened #1057 "Webpack tree shaking does not completely remove unused re-exports"
# Bugs and Questions
continuation of #549

### The Problem

I can't seem to get webpack to remove the unused victory modules, resulting in a big ass build.
I was first using webpack 3 which resulted in a build with a whole bunch of individual non-used victory components:
<img width="785" alt="screen shot 2018-07-24 at 12 59 36 pm" src="https://user-images.githubusercontent.com/6924108/43165172-4aa

[2018-07-24 21:08] ryan-roemer commented on #1057
@eballeste -- First, a configuration note. Awkwardly, you need:

[code]

Or, better yet, just **omit all of `sideEffects` in config** (should be on by default?) which means "do tree shaking" for webpack.

The awkward part is that this means that when webpack consumes libraries, then it does better tree shaking for things declared as `package.json:sideEffects: false`. Can you try that out?

If that

[2018-07-25 00:06] ddai85 opened #1058 "VictoryBrushContainer: brush disappears even when defaultBrushArea set to disable"
# Bugs and Questions

### Checklist

* [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2018-07-25 00:11] ddai85 commented on #1058
nevermind, don't need brushDimension prop if not resizing

[2018-07-25 18:00] eballeste commented on #1057
https://github.com/eballeste/victory-shake

[2018-07-25 18:40] ryan-roemer commented on #1057
## What I'm seeing

So, here's what I'm seeing just amending the actual bundle to produce a tree-shaken bundle without other optimizations:

[code]

Running:

[code]

Is there anything in the above here that looks like it _shouldn't_ be in there?

## Without tree-shaking experiment

As a thought experiment, I disabled  tree-shaking with:

[code]

and getting the much more monstrous:

[code]

[2018-07-25 18:48] ryan-roemer commented on #1057
My intuition is that webpack4 as-is is doing the right thing. Can you perhaps provide more explanation of the actual problem / unexpected result you're seeing? (The bundle report doesn't look that unexpected to me).

And ideally something with like a grep or programmatic for me to reproduce on my end. (For example, the string `voronoi` occurs in the production bundle as-is because of a style varia

[2018-07-25 19:57] eballeste commented on #1057
@ryan-roemer thanks for taking a look at this, I was basically searching through the bundled file for key words of packages that I know I wasn't using, definitely not the best way

setting it to development mode with `pathinfo:true` and then searching with grep definitely paints a clearer picture for me and it in effect seems to be working when setting `sideEffects` to true during development mode

[2018-07-25 19:57] #1057 closed

[2018-07-25 21:41] 40x commented on #1054
PR en-route

[2018-07-25 22:21] boygirl commented on #1056
@redixhumayun yes! You can use functional styles to color your bars. Check out this example code:

[code]

`d._y1` refers to the data corresponding to the top of the bar after the stacked layout is applied. you could also use `d._y0` for the bottom of the bar, or `d._y` for the original y value of the bar (pre-stacking)

[2018-07-25 22:21] #1056 closed

[2018-07-25 22:31] boygirl commented on #1043
@JohnHour89 your code looks correct. Your chart should update as `temperatureData` changes.

[2018-07-25 22:31] #1043 closed

[2018-07-25 22:40] boygirl commented on #513
@dakahn sorry for the delay.

I think the best way to implement this feature is actually to calculate the percentage for all data points and add it to the altered data object. Then a user wanting to display percentage in their pie could do so like `labels = (datum) => `${datum.percent}%``

To get started, check out how `VictoryArea` alters data: https://github.com/FormidableLabs/victory/blob/maste

[2018-07-25 23:10] boygirl opened #1060 "`prop-types` should be a real dependency"
As described in these guidelines:
https://github.com/facebook/prop-types#how-to-depend-on-this-package

See this closed PR for more discussion:
https://github.com/FormidableLabs/victory/pull/1059

[2018-07-26 00:40] JohnHour89 commented on #1043
@boygirl Hi, it seems correct but the problem what I want is the graph data it will automatically update itself in the page, not like need to refresh the page then the graph data just can be update.

[2018-07-26 20:44] 40x commented on #1048
PR incoming soon

[2018-07-28 03:09] #1060 closed

[2018-07-28 05:15] boygirl opened #1066 "Infrastructure: karma fails out of memory"
`karma start ./config/karma/karma.conf.js` fails with the following:
[code]

related:
https://github.com/karma-runner/karma/issues/1868

A temporary fix involves turning off source-maps for testing: https://github.com/FormidableLabs/victory/pull/1065

[2018-07-30 03:58] torava opened #1067 "Adding `VictoryZoomContainer` to stacked grouped charts ignores the `data` prop on `VictoryGroup`"
In some scenarios like when adding VictoryZoomContainer to this example https://formidable.com/open-source/victory/gallery/victory-portal-stacked-area/ I would expect it to allow zooming fluently but instead the whole chart breaks. My only modification was adding containerComponent to VictoryChart.

`<VictoryChart scale={{ x: "time" }} width={400} height={400} containerComponent={
  <VictoryZoomCo

[2018-07-31 08:07] punnkam opened #1068 "Fold Animation for VictoryPie on load"
I've been trying to create a VictoryPie component that 'folds out' when the page loads. From another thread I found a possible solution to set state in the componentDidMount() and indicate the animation duration in the rendering of VictoryPie in order to create the animation.
1. In the constructor
[code]

2. Setting State in componentDidMount()
[code]

3. Rendering out VictoryPie
[code]

All I see

[2018-07-31 10:06] omorhefere commented on #998
How did you fix this?

[2018-07-31 17:33] 40x commented on #1068
You are not setting the state correctly. `setState` is a function and not a variable like you assigned. Pass the updated `state` to the `setState` function instead.

[2018-07-31 18:36] boygirl commented on #998
@omorhefere this was fixed with a change in the library. If you're still seeing this issue, please let me know what version of Victory you're using. A code snippet or reproduction in code sandbox also helps a lot.

[2018-07-31 18:40] boygirl commented on #1067
Oh! Yes, it looks like the `data` prop on `VictoryGroup` is not respected when nested in `VictoryStack` when `VictoryZoomContainer` is added. This is definitely a bug in the library. Thank you for uncovering this edge case. I'm going to update the title of your issue to be more specific.

[2018-08-01 01:55] punnkam commented on #1068
@40x Thanks man didn't spot that

[2018-08-01 01:56] #1068 closed

[2018-08-01 16:23] nickzuber opened #1070 "Single `VictoryBar` Components Won't Change Width"
### The Problem

When you have a graph that has `VictoryBar` components all on the same axis using `VictoryStack`, you cannot adjust the width/size of the bars.

Once you add other bars on a different axis, then you can change the widths and everything, so this problem only occurs when there's a _single_ stack of bars.

<img width="287" alt="screen shot 2018-08-01 at 12 23 07 pm" src="https://user

[2018-08-01 19:02] boygirl commented on #1070
@nickzuber thank you for this issue. I will get this fixed for the next release

[2018-08-01 19:31] boygirl opened #1071 "Enable 2fa for publishing Victory"
Currently 2fa is only enabled for auth and not publishing

2fa for publishing is blocked by `yarn` and `lerna` issues:

https://github.com/yarnpkg/yarn/issues/4904
https://github.com/lerna/lerna/issues/1091

cc/ @ryan-roemer

[2018-08-02 01:03] CharukaK commented on #849
@boygirl is there a sample of how to achieve this or a documentation explaining the props?

[2018-08-02 13:13] Lehakos opened #1073 "Add `onBrushCleared` prop for `VictoryBrushContainer`"
# Bugs and questions

### Problem
When I set `defaultBrushArea="false"` to VictoryBrushContainer and click outside brush area, onBrushDomainChange receive full domain. But how I can detect that area was cleared with this data?
Maybe the domain has be like this: `{ x: [], y: [] }`, or you can introduce new prop `onBrushCleared`?

### Reproduction
https://codesandbox.io/s/jv18pxnw5

[2018-08-02 16:26] boygirl commented on #1073
@Lehakos yes, `onBrushCleared` sounds like a very reasonable addition. I will update the title of this issue.

[2018-08-02 21:51] boygirl commented on #1046
@olivia-leach sorry for the delay. I haven't been able to recreate this issue with time series data in the format:
[code]

I think this may be an issue with formatting dates in `moment`. If the result is a string rather than a date object, that would be incompatible with the `time` scale.

[2018-08-02 21:51] #1046 closed

[2018-08-04 03:52] boygirl commented on #1070
Actually, after taking a closer look at your sandbox, this is not an issue with the library.

The `width` prop on `VictoryBar` refers to the overall svg width, not the bar width. To define the bar width, you should add a `width` attribute to your data styles like

`style={{ data: { width: 20 } }}`

You can add that prop on either `VictoryStack` or `VictoryBar`, or both, but conflicting styles defi

[2018-08-04 03:52] #1070 closed

[2018-08-04 04:15] boygirl commented on #1042
@jacargentina I think the issue is that when you click the "zero now", your dataset has a single data point, and therefore a single point domain x: [0, 0]. Normally Victory components will apply a very small amount of domain padding to prevent a single point domain error. It looks like `VictoryStack` is not applying this padding when setting the domain for its children. I will look into fixing thi

[2018-08-04 06:11] #979 closed

[2018-08-04 06:15] #649 closed

[2018-08-04 06:15] #645 closed

[2018-08-04 06:16] #210 closed

[2018-08-04 06:29] boygirl commented on #487
I'm closing this issue as "wontfix". Data should be given as an array of objects.

[2018-08-04 06:29] #487 closed

[2018-08-04 21:17] vijayvmenon opened #1075 "Use a role whitelist for calculating a domain from children"
I have raised an issue in Stackoverflow, but thought would check here as well.

I have an Area chart in Victory where the x-axis has dates. I want to customize the x-axis Label and have created a CustomLabel component to calculate the x-axis scale and display "LABEL" below the ticks. But for some reason, the scale is not calculated correctly for the Date Object.

Please let me know what I am doing

[2018-08-04 21:51] boygirl commented on #1075
@vijayvmenon

I've modified your sandbox so that it's working. https://codesandbox.io/s/o793j1pnp6 The biggest problem was that `VictoryChart` tries to calculate a domain from its children, so it was incorrectly calculating a domain because of your custom label children. I've added a `static role = label` to your custom label component. I think the correct solution will be for me to change `Victor

[2018-08-04 22:18] vijayvmenon commented on #1075
Thanks a lot @boygirl . Appreciate your help. Its fixed now .

[2018-08-05 00:14] #1075 closed

[2018-08-05 00:27] nickzuber commented on #1070
@boygirl Ah I see, that definitely does the trick — thank you! I wish that could somehow be more clear in the docs

[2018-08-05 00:49] #1067 closed

[2018-08-05 02:29] boygirl commented on #1070
@nickzuber Definitely. I'm thinking of adding a `barWidth` prop so that styles are restricted to valid svg styles

[2018-08-05 21:33] #1073 closed

[2018-08-05 21:50] #947 closed

[2018-08-05 21:50] #1017 closed

[2018-08-05 22:48] boygirl commented on #742
I believe this issue is fixed, but please reopen if I am mistaken

[2018-08-05 22:48] #742 closed

[2018-08-05 22:52] #728 closed

[2018-08-05 22:58] boygirl commented on #713
@timhwang21 I'm not able to reproduce this issue in the latest version of victory. Do be sure that you are setting `scale={{ x: "time" }}` on your top level `VictoryChart` component

@CharukaK unfortunately you will need to set your offset manually

[2018-08-05 22:58] #713 closed

[2018-08-06 02:58] #911 closed

[2018-08-06 20:38] ryangiglio opened #1082 "sortKey param doesn't reorder bars on a horizontal bar chart, only labels"
# Bugs and Questions

### Checklist

* [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2018-08-06 21:57] boygirl commented on #1082
@ryangiglio thank you for the helpful reproduction. I'll try to get this fixed for next week's release

[2018-08-06 22:06] itelo commented on #461
any example?

[2018-08-07 09:05] JussiIvbar commented on #472
Also waiting for an update on this.

[2018-08-09 00:12] boygirl opened #1083 "axisLabel angle does not respect zero"
When the dependentAxis has `style={{ axisLabel: { angle: 0 } }}` it is still rendered rotated

[2018-08-09 16:34] lorenzosfarra commented on #807
I would like to add a (in my opinion) more clean solution, as reported [here](https://github.com/FormidableLabs/victory-native/issues/143#issuecomment-323137671).
Just for reference, the comment suggests to add `pointerEvents="none"` to the surrounding `View`.

[2018-08-10 22:07] ron-camaron commented on #1016
I'm looking to do the same. Replace xAxis labels for images. How did you do it?

[2018-08-11 12:24] ealimardaniii opened #1086 "Persian language(rtl) does not work in label props"
# Bugs and Questions

### Checklist

* [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2018-08-13 12:43] fwielstra opened #1087 "Forcing chart to draw 0 label"
# Bugs and Questions

### Checklist

* [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2018-08-13 16:13] AndrewJDick commented on #841
Is this any further forward?

[2018-08-13 16:33] boygirl commented on #1087
@fwielstra `VictoryChart` sets the `crossAxis` prop on its axis children when they cross each other. This cases each axis to filter out zero values. To override this behavior, you can manually set `crossAxis={false}` on one of your axis children (but probably not both, because then you would have overlapping zeroes). You can read more about the `crossAxis` prop here: https://formidable.com/open-so

[2018-08-13 16:33] #1087 closed

[2018-08-13 16:41] boygirl commented on #1086
@ealimardaniii I apologize for this oversight. I will add a `direction` prop to `VictoryLabel` with options "rtl" and "ltr" which will be passed down and applied to the rendered svg `<text/>` tag.

As an immediate solution, You can try adding `direction: "rtl"` to your label styles. I'm not sure whether this svg attribute will work as a style.

[2018-08-13 23:03] #1083 closed

[2018-08-13 23:47] boygirl commented on #1086
@ealimardaniii does this output look correct?

[code]

<img width="114" alt="screen shot 2018-08-13 at 4 46 11 pm" src="https://user-images.githubusercontent.com/3719995/44064144-7a24ffc4-9f18-11e8-893c-a7a006dd4310.png">

[2018-08-15 00:02] boygirl opened #1089 "strokeWidth 0 is not respected for stacked bars"
bars with zero height will still render a 1px stroke on stacked bars

[2018-08-15 17:15] nickzuber opened #1090 "Wrapped `VictoryTooltip` doesn't render"
### The Problem

Trying to pass in a `VictoryTooltip` component as a `labelComponent` prop works totally fine and as expected. However, once you wrap the `VictoryTooltip` in a HoC of some kind, it will no longer render (even when passing all the props down).

### Reproduction

https://codesandbox.io/s/6yr2kx7p1k

[2018-08-15 18:52] boygirl commented on #1090
@nickzuber sorry for the confusion. `VictoryTooltip` has some default events that need to get picked up in order for it to render on mouseOver. You will need to add `defaultEvents` from `VictoryTooltip` to your wrapped component. This guide should help: https://formidable.com/open-source/victory/guides/tooltips/#wrapping-victorytooltip

[2018-08-15 18:52] #1090 closed

[2018-08-16 23:57] kaiyoma opened #1092 "VictoryPie renders the wrong colors when `data` changes"
# Bugs and Questions

### Checklist

* [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2018-08-17 00:41] kaiyoma commented on #1092
I managed to come up with a sandbox: https://codesandbox.io/s/oq9nzyl5rz

This renders a pie with some data, then after two seconds, the pie gets updated with a new (but similar) dataset.

The problem seems to be that mousing over the slices somehow "taints" them, such that after the new `data` prop is sent to the component, one or more of the colors will be wrong, until you mouse over the slices

[2018-08-19 23:14] boygirl commented on #1092
@kaiyoma thank you for the reproduction. The problem is that in your `onMouseOut` handler you are setting your fill to `props.datum.fill`. Doing this uses the props that are current on the slice at the time of your mouseOut event, which is why the colors get stuck. Rather than setting a static fill there, you can either clear your styles all together like:

[code]
or set your fill to a function of

[2018-08-19 23:14] #1092 closed

[2018-08-19 23:15] #1086 closed

[2018-08-20 08:37] johnhydroware opened #1095 "VictoryBrushContainer should not show "rezise-cursor" when allowResize is false"
### The Problem

When "VictoryBrushContainer" and setting "allowResize" to "false" the cursor still changes to a double-arrow-cursor in the edges of the brush. It should only show the "hand" since moving the brush is the only available action for the user.

[2018-08-20 16:43] boygirl commented on #1082
@ryangiglio sorry this got pushed back. I will get it out this week

[2018-08-20 16:52] ryangiglio commented on #1082
No problem I appreciate that you're looking at it!

[2018-08-20 17:09] kaiyoma commented on #1092
Great, thanks so much! Option one indeed fixes the issue.

[2018-08-21 06:02] johnhydroware opened #1097 "Make it possible to change drag/resize areas on VictoryBrushContainer"
# Feature Requests
### Description

It is difficult to use VictoryBrushContainer for selecting really small parts of the dataset. When the area is thin it is difficult/impossible to drag the area without resizing it. "brushComponent" and "handleComponent" will only affect the brush visually. It would be helpful if those components(or something like it) also affected the area used for resizing and

[2018-08-21 12:14] mohan-m-u opened #1098 "is it possible to hide grid in material theme"

[2018-08-21 16:58] #797 closed

[2018-08-21 17:51] thousight commented on #560
The thing with `VictoryBar` is that the spaces between the bars change if the number of data on x-axis changes. For `VictoryArea` with `interpolation="step"` the issue is the bars on the left and right ends don't have the same width with the rest of the bars. So I hope there will be a better implementation for this where all the bars have the same width and they stick together.

[2018-08-21 18:03] boygirl commented on #1098
@mohan-m-u yes. You can add style props to each of your axes like `style={{ grid: { stroke: "none" } }}`

you could also extend the `material` theme to override the grid styles you don't like. The theme is just a big object. You would need to override this nested property: https://github.com/FormidableLabs/victory/blob/master/packages/victory-core/src/victory-theme/material.js#L82

Since the prope

[2018-08-21 18:03] #1098 closed

[2018-08-21 18:03] boygirl commented on #1095
Good catch, thank you!

[2018-08-22 05:59] tebs1200 opened #1099 "Fill value provided in data isn't being applied to chart components"
# Bugs and Questions

### Checklist

* [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2018-08-22 10:36] Utzel-Butzel opened #1100 "Victory Stack horizontal={true} Same axis labels on both axises"
When editing the stacked-group-chart example on the Victory website ( https://formidable.com/open-source/victory/gallery/stacked-grouped-bars/ ) both axises get the same axis labels when VictoryStack horizontal={true}. This doesn't happen when horizontal={false} or no VictoryStack is used.

<img width="433" alt="bildschirmfoto 2018-08-22 um 12 34 44" src="https://user-images.githubusercontent.com/

[2018-08-22 16:44] boygirl commented on #1099
@tebs1200 my mistake. We need to update the docs. We made an intentional breaking change in version `0.26.0` to no longer support arbitrary styles on the data object. You can read about the change and a work around for it here: https://github.com/FormidableLabs/victory/blob/master/CHANGELOG.md#0260-2018-04-21

I will move this issue to `victory-docs` so I can address the mistake in the docs. Thank

[2018-08-22 16:45] boygirl commented on #1099
This issue was moved to FormidableLabs/victory-docs#572

[2018-08-22 16:45] #1099 closed

[2018-08-22 16:47] boygirl commented on #1100
@Utzel-Butzel thanks for reporting this! I am currently working on a bug related to horizontal charts, so I will try to get this one fixed at the same time.

[2018-08-23 21:04] nemosupremo commented on #796
I'm hitting the same issue, when I set a domainPadding. Not sure if I'm using this parameter correctly.

https://jsfiddle.net/sjf9zymz/32/

[2018-08-23 22:06] boygirl commented on #796
@nemosupremo try setting `domainPadding` on your top-level victory component (VictoryChart)

[2018-08-23 22:28] nemosupremo commented on #796
That worked, thanks

[2018-08-24 19:09] boygirl commented on #1016
@ron-camaron you can make a custom label component and provide it as your `tickLabelComponent` on `VictoryAxis`. Here's a guide that should help you make a custom component: https://formidable.com/open-source/victory/guides/custom-components/#creating-new-components

As a reminder, whatever component you create will be rendered inside an `svg` tag, so if it is not an svg element, you will need to

[2018-08-26 14:37] epegzz commented on #1058
This is still a bug, can we re-open this ticket? :)

[2018-08-26 17:49] michaeljacobdavis opened #1103 "Make tooltips use y0 rather than y with VictoryBar"
# Bugs and Questions

### Checklist

* [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2018-08-28 02:08] JarLowrey commented on #1052
I am having an issue in my project where blacklisting the Scatter makes it impossible to hover over any additional lines. I have been [unable to duplicate](https://codesandbox.io/s/jn922z3y89) this bug in CodeSandBox. Do you have any ideas of what might be happening?

[2018-08-28 02:13] JarLowrey commented on #1052
I have gotten it working by placing all the the VictoryLine's after all of the VictoryScatter's. This does not duplicate in CodeSandBox, but is consistently reproducible across runs in my environment. Really weird.

[2018-08-28 04:29] boygirl commented on #1052
@JarLowrey that is super weird. I tried to reproduce this locally with a minimal example:

[code]

But it is working as expected. What version of Victory are you using?

[2018-08-28 17:07] vrepsys opened #1105 "Problem with VictoryVoronoiContainer Example"
The documentation says: "VictoryVoronoiContainer .. will add the active prop to data and label components closest to the current mouse position."

It points to this example: https://formidable.com/open-source/victory/gallery/voronoi-tooltips-grouped/

However, when the mouse cursor is between two right-most points of both lines - all points of the red scatter plot become activated.

I have a very

[2018-08-29 00:56] JarLowrey commented on #991
How would you do that?

[code]

Does not work for me.

[2018-08-29 11:28] sinoridha commented on #1037
I have faced the same issue. My solution for it is wrap the chart component with Svg. It will make your cart as svg, but it will reduce preformance of antimation process.

[code]

[2018-08-29 17:29] boygirl commented on #1103
@michaeljacobdavis Having the tooltip aligned with `y` rather than `y0` is the expected behavior. `y0` usually indicates the baseline rather than the top of the bar. If your data is formatted opposite, you can use the `y` and `y0` data accessor props to flip it. You can read about those props here: https://formidable.com/open-source/victory/docs/victory-bar/#y

I'm going to close this issue, but p

[2018-08-29 17:29] #1103 closed

[2018-08-30 16:05] boygirl commented on #1100
This fix was released in `victory@30.3.1`

[2018-08-30 16:05] boygirl commented on #1082
This fix was released in `victory@30.3.1`

[2018-08-31 02:21] rpelorosso opened #1106 "Weird artifacts in small VictoryBar with rounded borders"
### Checklist

* [x] This is not a `victory-native` specific issue.

* [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

* [x] I am using the latest version of Victory

* [x] I've searched open issues to make sure I'm not opening a duplicate issue

### The Problem

When a

[2018-08-31 16:06] knipferrc opened #1107 "Dismiss tooltips on IOS"
# Bugs and Questions

### Checklist

* [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2018-08-31 19:06] knipferrc commented on #1107
Figured this out, added `cursor: pointer` to body.

[2018-08-31 19:06] #1107 closed

[2018-09-04 15:18] hasanagh opened #1108 "Can I benefit from the default Victory axis for dates having only an x-axis"
### The Problem

In the second example on this [page](https://formidable.com/open-source/victory/guides/brush-and-zoom/) we have a brush that defines a Victory axis with full-year tick format dates.
Is there a way in here where I can use Victory's default axis instead without having to have the two axes together?

So for example, if in this case, the dates I am getting are not predictable ( either

[2018-09-05 01:13] boygirl commented on #1106
@rpelorosso thank you for this issue. It's one we're aware of, so I'm going to close it as a duplicate of: https://github.com/FormidableLabs/victory/issues/895

We will need to modify the paths that the `Bar` component is drawing when values are very small. Until we are able to fix this issue, you can provide `cornerRadius` as a function of datum, and reduce the amount of radius used for very shor

[2018-09-05 01:13] #1106 closed

[2018-09-05 11:41] boaz1337 opened #1109 "VictoryPie under VictoryGroup messes with chart colors"
# Bugs and Questions

### Checklist

* [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2018-09-05 12:22] Harsh1796 opened #1110 "Bugs - Victory Line"
# Bugs and Questions
### Checklist

* [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2018-09-08 00:13] wachunga commented on #832
Just starting to get familiar with victory. Seems like there are a few items like this (and automatic domainPadding) that would improve developer experience a lot.

[2018-09-08 19:14] isitrita commented on #838
@boygirl Hi, was this two issue resolved? I am also concerned by this.

[2018-09-10 15:46] feralislatr commented on #576
I have an approach similar to @icd2k3 using foreignObjects within a custom tooltip, but it only seems to work in Chrome. Is this a known issue?

Hovering a slice here should bring up a tooltip in the center of the chart: https://codesandbox.io/s/7wmy73k0jx

[2018-09-11 14:28] Ilario17 opened #1111 "VictoryBar overlaps x axis"
# Bugs and Questions

### The Problem

![schermata 2018-09-11 alle 16 24 01](https://user-images.githubusercontent.com/33326791/45366489-3ff2a080-b5df-11e8-9de2-3e55707bf932.png)

### Reproduction

[code]

The image is quite explicit in illustrating the problem.

react-native: "0.56.0"
react-native-svg: "^6.5.2"
victory-native: "^30.3.0"

[2018-09-11 18:56] boygirl commented on #1111
@Ilario17 by default, `VictoryBar` has a baseline of 0. If you want to set your own baseline you can add a `y0` prop like:
`VictoryBar y0={() => minFromData - 500} .../>`

[2018-09-11 18:56] #1111 closed

[2018-09-11 19:14] boygirl commented on #1110
@Harsh1796

Victory calculates a default domain based on data, and does not take the position of the interpolated path into account.

The issue you're seeing can be addressed in a few ways:

1) choose a different interpolation method that creates a path that is more faithful to your data. (I suggest `monotoneX` It looks like this:

![screen shot 2018-09-11 at 12 12 00 pm](https://user-images.githu

[2018-09-11 19:14] #1110 closed

[2018-09-12 11:38] Harsh1796 commented on #1110
Changing "natural" to "monotoneX" works well!

[2018-09-12 18:28] jjenzz commented on #898
@boygirl whenever I call `VictoryLegend.getDimensions({ data, itemsPerRow })` I get `NaN` back for `height` and `width`. How do I use this static method?

[2018-09-13 01:39] normanaranez commented on #396
@jasonhealy thanks but one thing problem with the code, the font size are too small. how can i adjust the font-size base on the example you have?

[2018-09-13 09:15] isitrita opened #1112 "scale.x is not a function when embedding Line"
Hi, I am trying to draw box, which will be looked as grid which will be bounded from four sides with grey
<img width="630" alt="screen shot 2018-09-13 at 12 12 14" src="https://user-images.githubusercontent.com/1010119/45479178-6edb5480-b74e-11e8-997e-341f14d31a35.png">

I am trying to put `Line` to do that, but I get exception `TypeError: scale.x is not a function
    at Object.scalePoint (helper

[2018-09-13 15:17] boygirl commented on #1112
@isitrita
I'm not able to reproduce the issue you're seeing. Is your <Line/> component from `react-native-svg`?

I made a codesandbox with an example of embedding a line within a chart: https://codesandbox.io/s/v3x6w4y345

I'm going to close this issue for now, but I will reopen it if you can help me come up with a reproducible failing test case. Please feel free to edit that codesandbox to get st

[2018-09-13 15:17] #1112 closed

[2018-09-14 16:50] scottdickerson opened #1113 "Victory Area that has negative bottom values, places the x-axis in the incorrect y-offset"
# Bugs and Questions

### Checklist

* [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2018-09-14 16:54] scottdickerson commented on #1113
alternatively, if I could somehow get a callback with the calculated bottom domain of the y-axis, I could set the offset myself

[2018-09-14 17:05] boygirl commented on #1113
@scottdickerson This is a tricky one. `VictoryChart` automatically sets the `offsetY` prop on each of its axis components so that they cross at the origin of the chart. This is always set to zero if the `other axis` includes zero. I think this is generally the correct behavior, so I don't think anything should be changed in the library. You can manually set the `offsetY` prop on your `VictoryAxis`

[2018-09-14 17:05] #1113 closed

[2018-09-15 18:29] erick2014 commented on #1095
Hello, I want to try to solve this

[2018-09-15 19:03] boygirl commented on #1095
@erick2014 thanks! Please let me know if you have any questions about how to get started :)

[2018-09-15 23:01] erick2014 commented on #1095
hey @boygirl is there any way to reproduce this issue? I'm new in this and I have no idea what is the VictoryBrushContainer

[2018-09-17 13:56] fwielstra opened #1114 "Showcase and outstanding issues with tooltips and y axis"
# Bugs and Questions

### Checklist

* [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2018-09-17 18:20] narinluangrath commented on #1095
Hi @erick2014, here's a demo of the `VictoryBrushContainer`: https://formidable.com/open-source/victory/docs/victory-brush-container/

The BrushContainer adds a highlighted region to the chart on the bottom. The `allowResize` prop controls whether or not it can be resized. Ideally, when the user hovers over the edge of the highlighted region and `allowResize` is set to false, the cursor shouldn't

[2018-09-17 20:23] isitrita opened #1115 "Y position in VictoryTooltip does not affect it's position"
Hi, is it Possible to change position of voronoiTooltip, so it Y position would always be the same? I need to implement behaviour similar to https://www.google.co.za/search?q=ll

I am trying to do, but y is still near point on chart
[code]

[2018-09-18 00:43] erick2014 commented on #1095
owww, thankyou so much @narinluangrath

[2018-09-18 15:01] redixhumayun opened #1116 "Visualizing Large Datasets With Stacked Grouped Bars"
# Bugs and Questions

### Checklist

* [X] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [X] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2018-09-18 15:29] boygirl opened #1117 "Better label positioning options for VictoryPie"
Currently it requires some math to move labels to specific angles or offset by angle or radius.

There should be options for default label angle that correspond to the `startAngle`, `centroid`(current) and `endAngle` of the slice. This would fix issues like https://github.com/FormidableLabs/victory-native/issues/377

[2018-09-18 15:54] boygirl commented on #1116
@redixhumayun

Thank you for the reproduction. That helps a lot!

Unfortunately, this will be a bit manual. Since you have a set bar width and a set group offset, you will need to calculate domain padding to accommodate that. It should be something like `number of groups * (offset + width) / 2`.

Looking at your example, though. it looks like the groups are not being correctly centered. That would

[2018-09-18 16:39] redixhumayun commented on #1116
@boygirl

The bit about the set bar width and set group offset is interesting. I only have those set because I picked up this example from the docs. Its this example here: https://formidable.com/open-source/victory/gallery/stacked-grouped-bars/

So, how are the default values for those props calculated?

Appreciate all the great work you're doing maintaining this library btw!

[2018-09-19 07:28] SaphuA commented on #1033
I wouldn't mind investing some time creating / updating typings while I'm using Victory. But I will only do this if the typings are to be maintained in this repo. What is the stance of Formidable on this matter?

[2018-09-20 10:15] m-g-cencek opened #1119 "Feature: possibility to add top-left or top-right cornerRadius to VictoryBar"
# Feature Requests

### Checklist

* [x] I've read through the [Docs](https://formidable.com/open-source/victory/docs) and [Guides](https://formidable.com/open-source/victory/guides) to make sure this functionality doesn't already exist

* [x] I've searched open issues to make sure I'm not opening a duplicate issue

### Description

Currently, it is possible to add cornerRadius to either the top o

[2018-09-20 10:22] m-g-cencek opened #1120 "Add `getPath` prop to `Bar` to allow users to create custom paths"
# Bugs and Questions

### Checklist

* [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2018-09-20 15:45] boygirl commented on #1120
@m-g-cencek currently there isn't a way to do this without 1) extending `Bar` or 2) writing your own bar component. I think the solution you suggest in https://github.com/FormidableLabs/victory/issues/1119 is a good one.
Another change we could make in Victory would be to add a `pathFunction` prop to `Bar` that could be used to customize the `d` prop passed to `Path` as you suggest. 'm going to ch

[2018-09-20 15:55] boygirl commented on #1119
@m-g-cencek I like this solution generally. I think to avoid a breaking change, the prop would have to look like:

[code]

[2018-09-21 16:11] boygirl opened #1122 "Investigate calculating data intersections in `VictoryCursorContainer`"
So that folks can put a marker on a line and have it smoothly follow the cursor. Currently the process is v. complex

From the gitter channel:

[2018-09-21 16:14] boygirl opened #1123 "Calculated domains in VictoryArea are not respecting custom baselines"
Domains always include zero even if the y0 value is set in data.

Latest (broken):
https://codesandbox.io/s/q7n6r44yq6

Working in 0.26.1:
https://codesandbox.io/s/mqpx3rmkk8

[2018-09-22 20:38] erick2014 commented on #1095
@johnhydroware would be helpfull if you u share the code u are using and some pictures

[2018-09-23 17:35] erick2014 commented on #1095
@boygirl https://github.com/FormidableLabs/victory/pull/1124/files

[2018-09-23 18:44] matthew-socialcore commented on #660
I'm having the same issue as well:

    <VictoryChart
        theme={VictoryTheme.material}>

        <VictoryLine
            data={graphData}
        />
        <VictoryAxis
            axisLabelComponent={<VictoryLabel dx={10} dy={20} />} />
        <VictoryAxis dependentAxis
            tickFormat={(t) => `${Math.round(t)}`}
        />
    </VictoryChart>

The `dx` and `dy` in my axisLabelComp

[2018-09-23 19:02] matthew-socialcore commented on #660
So it turns out I was using the wrong property: I was trying to customize the tick labels, but was using `axisLabelComponent`.

Using `tickLabelComponent` fixed my issue.

I only realised my mistake after finding this issue:
https://github.com/FormidableLabs/victory/issues/948

Basically, it seems for `axisLabelComponent` to do something, you need to specify the `label` property on your `VictoryAx

[2018-09-23 19:08] erick2014 commented on #832
Hey I would like to work on this guys, or at least try haha

[2018-09-24 18:45] JarLowrey opened #1125 "Random crash in Voronoi"
# Bugs and Questions

### Checklist

* [x ] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [x ] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a questi

[2018-09-25 01:04] jeloagnasin commented on #830
@emh, care to test my change on the latest release v30.4.0?

[2018-09-25 03:27] jeloagnasin commented on #830
@boygirl, I think we should close this issue since #1121 is merged already.

[2018-09-26 23:15] erick2014 commented on #1095
@boygirl you can close this issue now

[2018-09-27 00:53] #1095 closed

[2018-09-27 15:12] captDaylight opened #1128 "CodeSandBox for Getting Started section"
On the "Getting Started" section of the docs, instead of only linking to the final code on github, it would be helpful to have a codesandbox template ready to go so that someone can follow along right away. I created a simple template [here](https://codesandbox.io/s/98pr3p8oxp) that is set up with react and victory. I'd be happy to make a PR to add it. Also here's the [final](https://codesandbox.i

[2018-09-30 07:06] narinluangrath commented on #1002
Hi @sibelius! Thanks for reporting this. Can you `console.log` the `data` prop and post it here so I can try to reproduce the issue?

[2018-10-01 19:45] sikolio commented on #1117
I have made progress in this but there is a need to change the position by a % so the label ends inside the slice instead of just at the border.

By the linter I can't go ahead and put a 0.9 multiplier or something, so I will push this as it is.

[2018-10-02 06:17] darshanawollstra opened #1131 "Victory Native Tooltip Not Rendering"
I'm using both victory charts for web and mobile application. I just wanted to  show a tool tip when mouse hovering over the victory bar chart and it got worked on web. When i came across to  mobile, it doesn't trigger any of events (onPressIn, onPressOut). How  can i solve this problem?

[2018-10-02 08:37] evandavid commented on #1115
my solution:

`class CustomTooltip extends React.Component {
  render() {
    return (
      <g>
        <VictoryTooltip
        {...this.props} y={100}
        renderInPortal={false}
        />
      </g>
    );
  }
}
`

`
<VictoryChart
        scale={{ x: 'time' }}
        polar={false}
        height={140}
        padding={{
          top: 10,
          bottom: 15,
          left: 10,

[2018-10-02 17:51] tkiethanom commented on #1046
This seems like its still an issue with 30.4.1. Updated the previous code sandbox with the latest Victory version.

https://codesandbox.io/s/0ypwnjlz6n

[2018-10-03 03:16] #1117 closed

[2018-10-03 03:50] boygirl commented on #1128
@captDaylight that is a great idea. I'm going to move this issue to our docs repo. We're in the process of some larger changes there, so it might take a minute to get incorporated.

[2018-10-03 03:51] boygirl commented on #1128
This issue was moved to FormidableLabs/victory-docs#581

[2018-10-03 03:51] #1128 closed

[2018-10-03 04:29] boygirl commented on #337
All of the evented containers have a `disable` prop. You can set that when you trigger an animation and clean it up during the animation's `onEnd` callback.

I'm going to close this issue as there's no plan to implement animation blocking

[2018-10-03 04:29] #337 closed

[2018-10-03 04:30] boygirl commented on #552
I'm going to close this issue due to lack of continued interest

[2018-10-03 04:30] #552 closed

[2018-10-03 04:33] boygirl commented on #760
Closing this issue due to lack of continued interest

[2018-10-03 04:33] #760 closed

[2018-10-03 04:40] boygirl commented on #565
I believe this is fixed in the latest version, so I'm going to close this issue.

[2018-10-03 04:40] #565 closed

[2018-10-03 14:50] tschaka1904 opened #1133 "Unable to fire onClick event on small bar"
# Bugs and Questions

### Checklist

* [X] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [X] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2018-10-03 21:42] captDaylight opened #1134 "Missing Date Tick on Bar Graph"
I have very simple bar graph that seems to be missing a date tick along the x axis. I've made a simple example to [demonstrate the problem](https://codesandbox.io/s/xykr28lkz). First I have 4 data points, each with a different month going back 4 months.
[code]

Then I put the data in the graph:

[code]
Here's what the end result looks like, where you can see it's missing a month in the bottom left

[2018-10-03 22:01] boygirl commented on #1134
@captDaylight
By default Victory lets d3 pick which `tickValues` to render if you're using numeric or time data (note, this is also what is causing your month names to not be centered on your bars). If you need specific values you can choose your own like so:

[code]

Here is an edited version of your sandbox too, for reference: https://codesandbox.io/s/102m66j3xq

[2018-10-03 22:01] #1134 closed

[2018-10-03 22:07] boygirl commented on #1133
@tschaka1904 unfortunately Victory attaches events to the data svg, so for very small bars it will be unclickable. You can get around this by _also_ rendering a `VictoryVoronoi` with your same data and attaching your click handlers to that instead. This will give you larger target areas to click on. Just be sure to render `VictoryVoronoi` after `VictoryBar` so it will be on top. This will also int

[2018-10-03 22:07] #1133 closed

[2018-10-03 22:31] boygirl commented on #1134
VictoryAxis doesn't actually have access to your data, it just knows the shared domain and range of the chart, so it does approximately this:
[code]

[2018-10-04 15:22] tschaka1904 commented on #1133
Thanks for the answer! 👍 Is there an event I can catch from the label as this will always be visible.

[2018-10-04 16:11] boygirl commented on #1133
yes, label events use the `labels` namespace.

[2018-10-05 02:58] #1120 closed

[2018-10-05 02:58] boygirl opened #1136 "Refactor `VictoryPie` and `Slice` so that slices can be more granularly controlled"
Currently it is not possible to define `radius`, `innerRadius` or `labelRadius` for individual pie slices because the `pathFunction` that is provided to each slice already has those values pre-defined. Instead, we should provide a partially applied path function that gets calculated for each slice. We should also let `radius`, `innerRadius` and `labelRadius` be defined as functions of data. New `r

[2018-10-05 15:25] dtesta opened #1137 "VictoryStack regression with empty data sets"
# Bugs and Questions

### Checklist

* [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2018-10-05 15:42] boygirl commented on #1137
@dtesta thank you for the helpful reproduction. I'll take a look

[2018-10-05 17:19] marcrd opened #1138 "No way to provide a component or HTML context to labels"
# Bugs and Questions

### Checklist

* [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2018-10-05 19:15] boygirl commented on #1138
@marcrd `VictoryLabel`'s `text` prop expects a string, an array of strings, or a function that returns strings. You have a few other options though:

1) Have a the text function perform the localization without returning an element
2) Use a custom label prop

Here are some examples:
[code]
Or a codesandbox if you prefer: https://codesandbox.io/s/18qz70jp3l

You can read more about custom component

[2018-10-05 19:15] #1138 closed

[2018-10-07 00:52] colin-young opened #1139 "Adding tick marks to VictoryBar charts"
I am trying to add some lines to my stacked bar chart. I've managed to do it [here](https://codesandbox.io/s/211865pmjn). The way I did it was to add a second stack group that draws:

1. An invisible bar
2. A zero-height bar with stroke defined
3. An invisible bar
4. A zero-height bar with stroke defined

It looks exactly like I want it to but it seems like a bit of a hack. Is there a better/easie

[2018-10-09 04:46] mihirsoni opened #1140 "Date range Axis not getting applied correctly in Horizontal Bar Chart."
# Bugs and Questions

### Checklist

* [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2018-10-11 14:33] mondula commented on #775
When you not only set the domain on the VictoryChart, but also set the zoomDomain on the VictoryZoomContainer (or the mixin in the case above), the problem went away for us.

[2018-10-12 06:28] binbingol commented on #1125
Any update regarding this bug?

Just like above, it occurs randomly.

[2018-10-12 14:59] kaitmore commented on #1125
Also experiencing this on victory@0.26.1

[2018-10-12 17:06] daneilsan opened #1142 "victory-pie uses native Object.assign and IE11 doesn't support this"
### The Problem

I'm using this fantastic chart library and my intention is to support IE11. So far I have been able to use it happily but the pie chart seems to have a line that uses the native Object.assign method when browsers such as IE11 doesn't have it. I saw that you are using a polyfill in other places. It should be a matter of using it also there (I guess). For some reason, I'm not able t

[2018-10-12 18:44] AlexandreArpin commented on #1105
Has there been any progress on this?

We're currently still experience the issue.

It'd be happy to provide some help but I'm gonna need some pointers in order to do so.

[2018-10-13 00:45] mihirsoni commented on #1140
Here is another example using with simple dates and even if domain is provided it goes out of range and draws bra at misplaces.

[2018-10-15 18:33] captDaylight opened #1143 "Vertical line on hover on VictoryLine"
I have a design spec as shown below, I was wondering if anyone has an idea if it's possible to add a vertical sectional line through a VictoryLine graph.

<img width="515" alt="screen shot 2018-10-15 at 2 23 04 pm" src="https://user-images.githubusercontent.com/700617/46970075-03a2dc00-d086-11e8-805c-929c85db60ec.png">

[2018-10-15 19:12] boygirl commented on #1142
@daneilsan Thanks for this issue. I will audit for instances of `Object.assign` and replace with lodash `assign`

[2018-10-15 19:13] boygirl commented on #1143
@captDaylight yes, this is possible. You can use `VictoryCursorContainer`

[2018-10-15 19:13] #1143 closed

[2018-10-16 11:57] tebs1200 opened #1145 "VictoryLabel ignores angle property when used as an axis label component"
# Bugs and Questions

### Checklist

* [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2018-10-16 16:19] robinwkurtz opened #1146 "Events on VictoryScatter are not working as expected with dataComponent prop set"
# Bugs and Questions

### Checklist

* [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2018-10-16 18:20] boygirl commented on #1146
@robinwkurtz

When you use a custom component, be sure that you are proxying all the props it needs from its parent like so:

[code]
Here's an edit to your codesandbox so you can see it working: https://codesandbox.io/s/lxypw564wm

Also, to simplify your app, you can color your points individually without using a custom components by using the style prop like so:

[code]

[2018-10-16 18:20] #1146 closed

[2018-10-16 18:44] boygirl commented on #1145
@tebs1200 thanks for the reproduction. That helps a ton. I'll take a look and try to get a fix out for you this week.

[2018-10-16 19:06] boygirl commented on #1125
Hi folks,

I haven't been able to reproduce this one. @kaitmore are you seeing this issue in `^30.0.0` as well?

@JarLowrey I'll look into the `Encountered two children with the same key` error you're seeing.

[2018-10-16 19:53] boygirl commented on #1139
@colin-young

That works, but an easier way to do it would be to create a custom `dataComponent` for `VictoryBar` that renders both the bar, and a line element showing your best and worst values. I've altered your codesandbox to explain: https://codesandbox.io/s/82j5njyxwl

[2018-10-16 19:53] #1139 closed

[2018-10-16 20:43] #1142 closed

[2018-10-16 20:47] boygirl commented on #1145
@tebs1200 actually, I took a closet look at your sandbox, and I think the problem is not in Victory.

Your custom label currently:
[code]
When you spread props _after_ `angle` the props supplied to `VictoryLabel` by `VictoryAxis` will override your angle (`VictoryAxis` will define a default angle).  Instead try:

[code]

or even simpler ` tickLabelComponent={<VictoryLabel angle={45} />}`

[2018-10-16 20:47] #1145 closed

[2018-10-16 22:06] tebs1200 commented on #1145
Thanks!

switching the angle to be after the spread operator fixed the issue. Makes perfect sense in hindsight. Interestingly, I did check `props.angle` and it was undefined so I thought the order wouldn't matter. Looks like I need to do a bit more reading on the intricacies of the spread operator.

My code is a a simplified version of a more complex custom label so the first option (wrapping the

[2018-10-18 21:42] rweller59 opened #1150 "Font size x-axis, y-axis too small"
# Bugs and Questions

### Checklist

* [ ] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [x ] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a questio

[2018-10-19 06:53] JayTurn commented on #1033
I've recently run into this issue attempting to use VictoryCandlestick which appears to be missing from the DefinitelyTyped definitions.

@boygirl Before I consider writing a PR, is anyone currently working on this?

[2018-10-19 11:58] colin-young commented on #1139
Thanks! That's much cleaner.

[2018-10-19 16:59] rweller59 opened #1151 "Define color of each slice of Pie Chart"
I am trying to figure out the data model for defining the color of each slice of pie. Assume I have a data array = [{1,y}, {2,y}...] and creating pie chart based on y values. I would like to define a color for each data point. Could you please give me some insight on what the setup might look like.

[code]

Sorry, just discovered the ColorScale attribute:
[code]

[2018-10-19 23:34] JarLowrey commented on #1125
It doesn't seem to be happening in 30.* for me. Been a long-standing issue for multiple versions, would be awesome if it's actually gone.

[2018-10-20 18:54] boygirl commented on #1150
@rweller59

You can change the font sizes by altering the `style` prop on `VictoryAxis`. Here's some more documentation on the style prop: https://formidable.com/open-source/victory/docs/victory-axis/#style

Unfortunately, because of how svg scales text, you wont be able to auto scale the text when your container size changes. To get around that you can add a resize handler and alter the fontSize

[2018-10-20 18:54] #1150 closed

[2018-10-20 18:58] boygirl commented on #1151
@rweller59

You can also use functional styles to determine a color based on the y value of each data point like so:

[code]
where `myColorFunction` should return a color name / hex string

[2018-10-20 18:58] #1151 closed

[2018-10-21 14:57] andrewhathaway commented on #722
Hi @boygirl  I think this issue has arisen again? I'm seeing this issue using the code below:

[code]

[2018-10-21 15:05] andrewhathaway opened #1153 "Bar Centering issue with Single Bar"
Following on from #722, @boygirl I think this issue has arisen again? I'm seeing this issue using the code below:

[code]

![image](https://user-images.githubusercontent.com/1188830/47268523-17e54e00-d54a-11e8-8c94-84cda3ee24fe.png)

Oddly, when using the following code:

[code]

It renders the following:

![image](https://user-images.githubusercontent.com/1188830/47268616-f9cc1d80-d54a-11e8-800d-

[2018-10-22 08:31] FlickStuart opened #1154 "When Axis tickFormat is an array, ZoomContainer causes the wrong tick labels to be shown"
# Bugs and Questions

### Checklist

* [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2018-10-22 12:13] BalalRaza commented on #1116
![screenshot from 2018-10-22 17-41-03](https://user-images.githubusercontent.com/17193862/47291536-b42e5400-d621-11e8-80a8-ee3816dd458e.png)

I hope you resolve this issue soon. Offset is getting applied to both the stacked-groups.

Thanks for maintaining the amazing library!

[2018-10-22 13:00] kaitmore commented on #1125
@boygirl I don't see this in ^30.0.0. My project was using 0.26.1 for other reasons, so it seems like I'll just have to upgrade. Thanks for looking into this!

[2018-10-22 13:12] rweller59 commented on #396
I see several comments that say 'create a resize handler' to prevent font sizes from becoming too small when using Victory with flex but an example sure would be helpful if anyone has one.

[2018-10-22 19:03] tkiethanom opened #1155 "datum.eventKey is not passed to VictoryVoronoiContainer's labelComponent"
# Bugs and Questions

### Checklist

* [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2018-10-22 20:30] captDaylight opened #1156 "Theme for Tooltips not Updating tooltips"
I have a fairly straight forward bar graph with a global theme that is generally working as expected except for tooltips.

[code]

I made a [codesandbox](https://codesandbox.io/s/2o646k338n) to demonstrate the issue. The expected outcome is that when you hover on one of the bars you'd see bright green tooltip.

<img width="191" alt="screen shot 2018-10-22 at 4 26 12 pm" src="https://user-images.gi

[2018-10-24 01:56] rossdack opened #1157 "Adding a container clips right side of chart"
I've defined a simple candlestick chart which renders as:

![screen shot 2018-10-24 at 12 51 21 pm](https://user-images.githubusercontent.com/34684873/47401245-42bee480-d78c-11e8-9d4e-6465394d81e8.png)

Specifying a container (to enable zoom for example) truncates the last candlestick, like so:
![screen shot 2018-10-24 at 12 58 51 pm](https://user-images.githubusercontent.com/34684873/47401327-976

[2018-10-24 16:47] robinwkurtz commented on #1113
I'm having the same issue however I cannot seem to solve the issue.

If I offset my Y by the height (no padding) it shows in a random place. Any advice?

Thanks

[2018-10-24 17:41] scottdickerson opened #1159 "VictoryArea/VictoryLine should support graphing with gaps in the y data"
# Bugs and Questions

### Checklist

* [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2018-10-24 18:00] scottdickerson commented on #1159
FYI, Passing a 0 for the interim value is an obvious workaround, but doesn't have the same meaning.  I'm graphing sensor data and really need to let the user know that the sensors didn't collect any data on October 22nd.  Furthermore, when I actually inspect the graph that has rendered in Chrome, it appears that it's actually rendered something in the graph svg for this data, it's just not visible

[2018-10-25 00:11] rweller59 opened #1160 "Multiple datasets with pie chart"
Is it possible to render multiple pie charts with the same center point in same container - an inner pie with an outer pie defining an inner radius > outer radius of inner pie. Thought I could do this wrapping with VictoryChart but its not compatible with pie chart.

[2018-10-25 16:57] boygirl commented on #1160
@rweller59 you can use `VictoryBar` with `polar` instead of `VictoryPie`. Here's a bit more detail: https://formidable.com/open-source/victory/docs/victory-bar/#polar

[2018-10-25 16:57] #1160 closed

[2018-10-25 16:59] boygirl commented on #1159
@scottdickerson This looks like a regression. I will take a look

[2018-10-25 17:47] boygirl commented on #1157
@rossdack `VictoryZoomContainer` adds a clipPath to the chart area so that anything rendered outside of it wont show. This is how zooming out is accomplished.

You can add padding to the clipPath it renders like so:

[code]

[2018-10-25 17:47] #1157 closed

[2018-10-25 17:49] boygirl commented on #1156
@captDaylight thanks for this issue and reproduction. I'll get it fixed

[2018-10-25 18:44] boygirl commented on #1153
@andrewhathaway Victory expects the data prop to be supplied to children of `VictoryChart`, and not to the chart itself. Give this a shot:

[code]

[2018-10-25 18:45] boygirl commented on #1153
It does look like there's an issue with centering dates, though

[2018-10-25 18:46] boygirl commented on #1125
I'm going to close this issue since it's not appearing in ^30.0.0.

[2018-10-25 18:46] #1125 closed

[2018-10-25 18:47] #895 closed

[2018-10-25 18:47] #1119 closed

[2018-10-26 13:10] horaceklai opened #1161 "VictoryStack horizontal and tooltips"
# Bugs and Questions

### Checklist

* [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2018-10-27 17:52] andrewhathaway commented on #1153
Also the second example of changing `x` from `1` to `1000`?

[2018-10-29 20:18] scottdickerson opened #1165 "VictoryLine doesn't line up with VictoryArea when you use domainPadding"
# Bugs and Questions

### Checklist

* [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2018-10-29 20:47] boygirl commented on #1165
@scottdickerson `domainPadding` should be added to the outermost Victory component. In your case `VictoryChart`

[2018-10-29 20:47] #1165 closed

[2018-10-29 20:54] boygirl commented on #1161
@horaceklai I wasn't able to reproduce this issue locally using the latest version of Victory. I'm going to close this issue, but I will re-open it if you can provide a codesandbox reproduction or more steps to reproduce the issue.

[2018-10-29 20:54] #1161 closed

[2018-10-29 21:02] boygirl commented on #1160
@rweller59 Yes! something like that. You can use the `VictoryStack` wrapper to potentially make your life a bit easier, too. Let me know if you have any trouble getting it to work

[2018-10-29 23:43] JarLowrey commented on #1125
Should we make a new issue for the duplicate key warnings? It really clutters up the console.

[2018-10-30 02:17] rossdack commented on #396
@rweller59  I'm using Jason's method directly (i.e. it's not nested inside SVG tags) with VictoryChart and it works great. My VictoryCandlestick grows and shrinks horizontally, font sizes remain the same, and the x-axis is populated with more labels when space allows.

[2018-10-30 11:21] HighSoftWare96 opened #1167 "TypeError: Reduce of empty array with no initial value with fixLabelOverlap and string values"
# TypeError: Reduce of empty array with no initial value with fixLabelOverlap and strings as x labels
### Checklist

* [-] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [-] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guid

[2018-10-30 15:33] Ricki-BumbleDev opened #1168 "minDomain / maxDomain props missing in type definitions"
The props minDomain and maxDomain cannot be used when using TypeScript as they do not exist in the respective type definitions.

We currently use the following work around:
[code]

[2018-10-30 19:33] boygirl commented on #1167
👍 @nikofrezz will you PR this change?

[2018-10-30 20:07] boygirl commented on #1168
@Ricki-BumbleDev I'm going to close this issue and reference it from the larger issue: https://github.com/FormidableLabs/victory/issues/1033

[2018-10-30 20:07] #1168 closed

[2018-10-30 20:07] boygirl commented on #1033
@JayTurn sorry for the delay. This is not currently in progress

[2018-10-30 22:57] bramvbilsen opened #1170 "Numbers on Y axis should be in scientific notation if too long"
# Bugs and Questions

### Checklist

* [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2018-10-30 23:32] boygirl commented on #1170
@bramvbilsen You can format your axis labels using the `tickFormat` prop on `VictoryAxis`. Here's a bit more information: https://formidable.com/open-source/victory/docs/victory-axis/#tickformat

[2018-10-30 23:32] #1170 closed

[2018-10-31 08:37] nikofrezz commented on #1167
Done!

[2018-10-31 18:50] kaitlynbrown commented on #659
I'm seeing this with `"victory-native": "^30.6.0"`

[2018-11-01 14:56] sibelius opened #1172 "VictoryOrgChart"
# Bugs and Questions

### Checklist

* [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2018-11-01 20:54] #1167 closed

[2018-11-01 21:00] boygirl commented on #1172
@sibelius interesting! This is quite different than anything currently implemented in Victory. I will leave it open as a feature, but I have to admit it isn't a high priority at this time.

Things that could help push this feature forward would be:
- more community interest
- api proposals

[2018-11-01 21:15] sibelius commented on #1172
I think the api could be the same as react-org-chart

[code]

it'd be cool to enable render a react component in each node

[2018-11-01 21:19] boygirl commented on #1172
@sibelius
aside from rendering a react component in each node, are there other differences you would want to see in a Victory version? It might make more sense to PR against react-org-chart

[2018-11-01 21:29] boygirl commented on #1172
Ah, I see. I need to think about this more. I think if Victory did take on something similar it would be as a generic tree structure rather than an org chart specifically.

[2018-11-01 21:45] sibelius commented on #1172
any tree structure would work

I'm trying to understand the victory abstraction so I can try to convert some d3 code to it

[2018-11-01 21:55] boygirl commented on #1172
Victory only uses a small subset of d3 (shapes, scales, interpolations, and a couple layouts) for things like calculating paths and scaling between data and svg space. Everything else is handled by victory code. There isn't an easy way to convert between the two, unfortunately.

[2018-11-03 11:01] endwaa opened #1173 "VictroyBrushContainer drag problem if resizing VictoryChart"
# Bugs and Questions

### Checklist

* [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2018-11-03 14:08] corradio opened #1174 "VictoryStack with 0 series show"
I took the example from https://formidable.com/open-source/victory/docs/victory-stack/ but changed the third series to have only 0 y-values.
This still causes a blue 1px height bar to be stacked. It should be instead not be shown.

[code]

[2018-11-06 17:02] yeomann commented on #1037
this is still issue, atleast on android. I just test and implemented on IOS using simulator. i can't click using mouse and scroll but on Android real device, i can't scroll when i click on `victory-bar` component

[2018-11-07 14:53] scottdickerson opened #1175 "VictoryBar: Missing Bar chart values for some VictoryBar values"
# Bugs and Questions

### Checklist

* [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2018-11-07 17:17] cullenmcmahon opened #1176 "Veroni Tool Tips not Working in External Window"
# Bugs and Questions

### Checklist

* [ x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [x ] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a questi

[2018-11-07 23:17] boygirl commented on #1176
@cullenmcmahon

Very weird. I will have to take a closer look. Thank you for the reproduction.

[2018-11-07 23:34] boygirl commented on #1175
@scottdickerson

Super weird. I simplified your sandbox a bit, and that seemed to help: https://codesandbox.io/s/ryp5j5zvxm.

[2018-11-07 23:46] boygirl commented on #1173
@endwaa Thanks for the reproduction, that helps a ton. I have some thoughts on what might be going on (caching some values related to the bounds).

[2018-11-07 23:56] boygirl commented on #1154
@FlickStuart would it possible to use a function for your tickValues like so:
`tickFormat={(value) => format(value, 'MMMM YYYY')}`.
When I change that line, both fiddles behave in the same way.

I did notice that the fiddle you have linked as `0.23.0` behaves _incorrectly_ compared to the other fiddle (axis ticks are incorrect compared to data)

[2018-11-08 15:14] scottdickerson commented on #1175
@boygirl Unfortunately it still is missing some data points, it just looks a little better due to the render order changing to put the missing bars at the top rather than the bottom.  Notice that at this timestamp: 11/5/2018 5:00 pm, there should be two bars shown, one for Antenna_26312_2, and one for Antenna_26312_6, but only one is shown.

[code]

[code]

![image](https://user-images.githubuserc

[2018-11-09 01:39] FlickStuart commented on #1154
Using a function does work well (I should have highlighted that - sorry!).
It's really a bug that affects the use of a pre-formatted set of labels with a date based axis. (Sometimes it's not feasible to just format a date - though I suspect it's uncommon for everyone else).

Apologies - not sure what I did with those fiddles, but there were in a confusing/broken state - hopefully this makes the 's

[2018-11-09 05:02] boygirl commented on #1136
Update:

The `Slice` primitive used by `VictoryPie` now takes `radius`, `cornerRadius`, `innerRadius`, `sliceStartAngle` and `sliceEndAngle` props. Each of these props may be given as number or a function of `datum` and `active`.  `radius`, `cornerRadius` and `innerRadius` will be passed down from props on `VictoryBar`, but `sliceStartAngle` and `sliceEndAngle` must be defined directly on the `Sli

[2018-11-09 05:41] boygirl commented on #1136
Example:

[code]
![pie-events](https://user-images.githubusercontent.com/3719995/48245283-e4eee700-e39e-11e8-9913-99bc6ee98702.gif)

[2018-11-10 01:17] #1153 closed

[2018-11-10 22:39] ahashem commented on #1021
@boygirl I can pick this issue and submit PR for it.

[2018-11-11 00:50] #1136 closed

[2018-11-12 17:58] hasanagh opened #1179 "add repetitive objects count to victory bar"
For a certain data format it could be useful to view the repetition of an object added and viewed in a box plot:

for example,
[{"date":"2015-09-25","id":1},
{"date":"2015-09-25","id":2},
{"date":"2015-09-25","id":3},
{"date":"2015-09-25","id":4},
{"date":"2015-09-26","id":5},
{"date":"2015-09-30","id":6},
{"date":"2015-09-30","id":7}]

with this type of data, we could specify a value to count for

[2018-11-12 20:50] boygirl commented on #1179
@hasanagh I think this is something that is a bit too specific to be built into Victory. Instead, it should be accomplished by processing your data before providing it to `VictoryBar`

[2018-11-12 20:50] #1179 closed

[2018-11-13 02:31] johnreytanquinco opened #1180 "Addional element line in VictoryLine chart"
In my chart I have 2 lines. One is an infinite horizontal line and the other with an arrow.
And to my question, is it possible to render a line with an arrow in VictoryLine component? Also, in addition, I would want to have a box(gray) below of the infinite line.

**The expected image is this one.**
![screenshot from 2018-11-12 20-21-35](https://user-images.githubusercontent.com/7284893/48347232-a

[2018-11-13 14:24] dperrera opened #1181 "Bottom right corners of bars in bar charts don't round"
# Bugs and Questions

### Checklist

* [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2018-11-13 19:43] tuulemall commented on #844
@boygirl Is it possible to change the style of the labels in the legend? I tried writing label:{fontSize:10, fill:'red'} everywhere with no success.

[2018-11-13 19:52] boygirl commented on #844
@tuulemall I believe the namespace is `labels` instead of `label`. Give that a shot

[2018-11-13 19:53] bewildergeist commented on #1041
I have a similar use case, wanting to color the area between grid markers, e.g.:

<img width="425" alt="grid_fill_example" src="https://user-images.githubusercontent.com/121186/48439195-fca2e280-e785-11e8-87a1-e3d55411bd57.png">

Coloring the grid lines conditionally is easy since `grid` accepts a functional style, but there seems to be now way to color the area in between grid lines. Is there?

[2018-11-14 17:59] zsherman opened #1183 "Grid lines overlay bars in example guide"
# Bugs and Questions

### Checklist

* [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2018-11-14 19:32] #1181 closed

[2018-11-14 19:37] boygirl commented on #1183
@zsherman It's purely render order dependent, so if you put your axis children after the other children they will end up on top. Check it out: https://codesandbox.io/s/43vwn5zy3x

[2018-11-14 19:37] #1183 closed

[2018-11-14 19:39] andreas-eberle commented on #775
Any progress on this?

[2018-11-14 19:40] zsherman commented on #1183
🤦‍♂️ thank you!

[2018-11-15 02:17] boygirl commented on #1021
@ahashem I'm sorry, this issue is out of date and should be closed, as this work has already been performed. My mistake.

[2018-11-15 02:17] #1021 closed

[2018-11-15 11:08] ecnaidar commented on #964
@boygirl
I have encountered
```react-fast-compare does not handle circular references. RangeError Maximum call stack size exceeded``` in same scenario although while using VictoryScatter.
Thought that it might be some regression during recent restructure (first tried on victory 31.0.0) but after reading this thread I tried version that uses victory-core version closest to when this fix was release

[2018-11-15 16:40] chrisbolin commented on #964
Thanks for reporting this! It might help us track down a bug that has been
difficult for us to reproduce. Could you tell us about your build system?
Webpack, uglify, terser, etc?

On Thu, Nov 15, 2018 at 6:08 AM ecnaidar <notifications@github.com> wrote:

[2018-11-15 17:13] chirhotec opened #1184 "VictoryZoomContainer incorrectly sets domain for horizontal charts when zoomDimension is constrained"
# Bugs and Questions

### Checklist

* [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2018-11-15 17:22] chirhotec commented on #1184
@gyption I believe this is related to the issue you posted on the gitter chat room

[2018-11-15 18:19] chrisbolin commented on #964
@ecnaidar to expound on that— the best thing I could get would be a full repository that would reproduce the issue. You could just start with what you have and cut out everything. Or you could start with some boilerplate and try to reproduce it. e.g. https://github.com/chrisbolin/react-fast-compare-bug-reproductions/tree/issue-30-circ-ref-cra

I've been tracking the issue in https://github.com/For

[2018-11-15 21:03] chrisbolin commented on #964
using FormidableLabs/react-fast-compare#30 to track @ecnaidar's issue, as it is with `react-fast-compare` and not `fast-deep-equal` (as this issue #964 was opened for)

[2018-11-15 21:03] #964 closed

[2018-11-15 22:22] danreeves commented on #1105
In case it's helpful, I found a workaround for this issue. Adding `name` props to the Line and Scatter components, where the two Scatters have the same name, gives the intended effect.

Modified example code:

[code]

[2018-11-16 00:20] danreeves commented on #1105
I didn't get to the bottom of it but it looks like somewhere along the way the data is getting merged incorrectly and you end up with scatter data with `continious: true` and the other scatter data get's lost? Like:

[code]

[2018-11-16 22:34] #1184 closed

[2018-11-18 04:18] boygirl opened #1186 "animationWhitelist as a prop"
_From @bear-junior on November 17, 2018 9:46_

Hi! :)

Is there any chance that animationWhitelist will be a prop for all charts with animate? Sometimes I don't want to have style animation, it's laggy sometimes, but for example I want to animate only height of bars and I have opacity on it, but I don't want to animate opacity.

_Copied from original issue: FormidableLabs/victory-native#418_

[2018-11-18 04:18] boygirl commented on #1186
@bear-junior Thanks for this issue. I think it's a good idea. I'm going to move this to the main victory repo, though since the work will be done there.

[2018-11-18 04:24] boygirl commented on #1186
This feature involves adding an `animationWhitelist` prop to all components that animate. When this prop is not provided, the existing fallback will be used.

[2018-11-18 04:36] boygirl commented on #1180
@johnreytanquinco Unfortunately there isn't an arrow component in Victory, but you can create a custom dataComponent for VictoryLine that renders both the line and an svg path element for the arrow head. Here's a guide that should help you get started with custom components: https://formidable.com/open-source/victory/guides/custom-components/

As for the gray box, you can accomplish that with `Vic

[2018-11-18 04:36] #1180 closed

[2018-11-18 19:16] bramvbilsen commented on #512
Sorry for opening this again, but I am still confused on how to achieve this. I tried setting the `domain` and `tickValues` properties for my Y-axis, but the problem persists. The Y axis still starts from 0.

[2018-11-19 06:38] kiranvenkatesh commented on #1175
I am having a similar issue with the VictoryZoomContainer. First and last data points are missing along with some random data points in between.

[2018-11-19 07:40] johnreytanquinco commented on #1180
@boygirl Thanks for your response.

But is it possible to just append the custom `dataComponent` inside VictoryLine? The reason behind is because my `x` value is in `Date` type and is already plotted correctly.

**main.js**
[code]

This is my custom component:
**Arrow.js**
[code]
**PS:** Im just a newbie to RN and would appreciate your help. Thank you in advance

[2018-11-20 13:54] bear-junior commented on #1186
🙏🏻🙏🏻🙏🏻

[2018-11-20 21:57] AlexandreArpin commented on #1105
@danreeves you have solved my issue! I wasn't giving a name attribute to my lines and plots.

Thanks a lot for your input! It has solved my issue :)

[2018-11-21 21:16] boygirl opened #1187 "VictoryVoronoiContainer should allow default active points"
This would allow users to show a chart with a point / tooltip auto-selected. The chart would still be interactive as usual while the user was hovering over it, but would have a default value otherwise.
This is currently possible in Victory with `externalEventMutations`, but it's complicated and fiddly.

Proposed API change:

A new prop called `defaultVoronoiValue` will be added. This prop should b

[2018-11-22 00:00] boygirl commented on #1180
@johnreytanquinco you have a couple options:

The best way to do it is to probably use a marker and `marker-end` but I'm not certain it's supported in `react-native-svg`. Here's the web version:
https://codesandbox.io/s/jznz8721y9

If that isn't working in RN, you can make your own path like so:
https://codesandbox.io/s/x5m74nzro

[2018-11-22 00:06] boygirl commented on #425
closing in favor of https://github.com/FormidableLabs/victory/issues/1186

[2018-11-22 00:06] #425 closed

[2018-11-22 00:07] #427 closed

[2018-11-22 00:08] boygirl commented on #442
I'm going to close this issue, as I think this feature is best implemented as a data pre-processing step. Here's an example: https://formidable.com/open-source/victory/gallery/column-chart/

[2018-11-22 00:08] #442 closed

[2018-11-22 00:09] #513 closed

[2018-11-22 00:11] boygirl commented on #513
I think this feature is best implemented as a data pre-processing step. Something like: calculating the sum of all your y data values, and then adding a labels prop like `labels={(datum) => ${datum.y / myTotal}%}`

[2018-11-22 00:11] #480 closed

[2018-11-22 00:13] #700 closed

[2018-11-22 00:13] #687 closed

[2018-11-22 00:14] #591 closed

[2018-11-22 00:17] boygirl commented on #572
@ryan-roemer I think this issue can be closed now, but let me know if you disagree.

[2018-11-22 00:17] #572 closed

[2018-11-22 00:18] boygirl commented on #828
This is possible as of `victory@31.0.0`

[2018-11-22 00:18] #828 closed

[2018-11-22 00:19] boygirl commented on #832
Now that we have both `radius` and `innerRadius` and both may be given as functions, this requested feature no longer makes sense.

[2018-11-22 00:19] #832 closed

[2018-11-22 00:43] #792 closed

[2018-11-22 00:45] #961 closed

[2018-11-22 00:47] boygirl commented on #929
I think I have to close this one as a won't fix.

[2018-11-22 00:47] #929 closed

[2018-11-22 00:48] #861 closed

[2018-11-22 00:50] #937 closed

[2018-11-22 05:29] johnreytanquinco commented on #1180
@boygirl Thank you so much for your help.
The below example works for me:

Result:
![screenshot_20181122_132752](https://user-images.githubusercontent.com/7284893/48883374-87f13780-ee5a-11e8-8310-6ecb80249334.jpg)

The arrow head renders at the end of the line in my chart but not sure how to create a perfect arrow path and make it match to the direction of the line.

But this arrow head below look

[2018-11-23 04:00] 15738039217 opened #1188 "VictoryBar的点击事件无法获取"
<VictoryBar
                        style={{
                            data: { fill: "#c43a31" }
                        }}
                        events={[{
                            target: "y",
                            eventHandlers: {
                                onClick: () => {
                                    console.log("00000000000")
                                    Toast

[2018-11-23 04:02] 15738039217 commented on #1188
[](url)

[2018-11-23 07:47] 15738039217 commented on #1188
换成onPressIn可以，但是苹果7等其他设备点击事件获取不到，苹果6可以，苹果8可以

[2018-11-23 14:52] michaelbridge commented on #1186
👍 👍 👍

[2018-11-26 23:54] boygirl commented on #1180
@johnreytanquinco the markerEnd solution is really what you want. If you can't get the `Defs` / `markerEnd` solution working in `victory-native` / `react-native-svg` you will have to manually place and rotate your path so that it lines up with your arrow. You do have access to the `data` prop from your custom `data` component so you will be able to calculate the slope of the last two points of you

[2018-11-27 00:56] let-aurn opened #1189 "Animations of x-axis, y-axis and data are not sync"
# Bugs and Questions

### Checklist

* [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2018-11-27 03:51] charklewis opened #1190 "Styling ticks in VictoryGroup"
# Bugs and Questions

### Checklist

* [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2018-11-28 06:55] johnreytanquinco commented on #1180
@boygirl thank you for your response. Will just look on how I can calculate the scope of the two points of the line and create the arrow head.

Sorry for too much asking, but is there a support in VictoryLine to achieve an infinite line? Say I have and 2 points(x and y values), and I would like to generate a horizontal infinity line from it.

Grayline is the expected output:
![](https://user-image

[2018-11-28 18:14] aloukissas opened #1191 "Typo in documentation"
![image](https://user-images.githubusercontent.com/12943502/49172605-68dd2480-f2f6-11e8-95a2-53a8e0e0d70e.png)

[2018-11-29 18:02] hochmanjoel opened #1192 "VictoryLine y-values change when new data points are added"
* [Unsure ] This is a `victory-native` specific issue.
* [Yes] I have read through the FAQ
* [Yes] I am using the latest version of Victory
* [Yes] I have checked to make sure that my versions of `react-native` and `react-native-svg` are compatible with this version of `victory-native`.
* [Absolutely] I've searched open issues to make sure I'm not opening a duplicate issue

Problem: I am trying to

[2018-11-30 16:33] boygirl commented on #1191
This issue was moved to FormidableLabs/victory-docs#584

[2018-11-30 16:33] #1191 closed

[2018-11-30 16:35] boygirl commented on #969
This issue is complicated by `VictoryAnimation` which relies heavily on `componentWillReceiveProps`. This will require an extensive re-write of Victory's animation strategy.

[2018-11-30 19:17] pcclarke commented on #279
I just used the solution by @laurence-hudson-tessella and had no issues in Edge 17 with a `VictoryBar`.

[2018-12-03 21:51] rudasoftware opened #1196 "Export default styles from components"
# Feature Requests

### Checklist

* [Yes ] I've read through the [Docs](https://formidable.com/open-source/victory/docs) and [Guides](https://formidable.com/open-source/victory/guides) to make sure this functionality doesn't already exist

* [Yes ] I've searched open issues to make sure I'm not opening a duplicate issue

### Description

It would be nice to export the default styles of components

[2018-12-03 23:39] rudasoftware opened #1197 "VictoryLegend auto `itemsPerRow` based on desired width"
# Feature Requests

### Checklist

* [Yes ] I've read through the [Docs](https://formidable.com/open-source/victory/docs) and [Guides](https://formidable.com/open-source/victory/guides) to make sure this functionality doesn't already exist

* [Yes ] I've searched open issues to make sure I'm not opening a duplicate issue

### Description

Often, I my intentions are less "I want a specific number o

[2018-12-04 02:09] rudasoftware commented on #1196
Oh dear, I think I misunderstood the purpose of `getBaseProps` static methods.

It looks like the purpose of making them `static` was to pseudo-export component helper methods and default properties by allowing us to pass props and do more or less what I described?

Is that the case? If so, can that be added to the documentation somewhere? (It may already be there. If so, I totally missed it :/  )

[2018-12-05 01:43] seantcanavan opened #1198 "VictoryPie renders pie slice index label even when data.x doesn't exist for data point."
### The Problem

When using VictoryPie I want the smaller sections of the Pie Chart to not have their labels rendered. This keeps the labels from writing on top of each other when the pie slices are very small. I'm using a map function on my data to set x and I'm not setting it when the percentage is less than 5.

But VictoryPie is rendering the index of the pie slice in the cases where the label

[2018-12-05 23:06] seantcanavan commented on #1198
The answer here is to use a custom mapping function to set the label dynamically.

More info can be found here on the 'labels' prop: https://formidable.com/open-source/victory/docs/victory-pie/#labels

And a complex example with matching jsfiddle can be found here: https://jsfiddle.net/boygirl/ytq13Lfk/

[2018-12-05 23:06] #1198 closed

[2018-12-06 13:09] vincentdesmares commented on #1054
I still have the issue with victory@31.0.1.

[2018-12-06 18:42] seantcanavan commented on #551
@boygirl that fiddle is extremely helpful thank you so much for providing it. I made a small modification for my own purposes but there's still a black outline being rendered in the center label. Would you know how to hide that?

Fiddle here: https://jsfiddle.net/sqg4xL2y/

[2018-12-07 20:08] scottdickerson commented on #1159
any pointers into where this problem might be @boygirl?  I can work on a PR

[2018-12-07 20:31] scottdickerson commented on #1159
I can't seem to reproduce this anymore actually...

[2018-12-07 22:35] narinluangrath commented on #801
Seems to be caused by the default padding of 10 on the style object for labels. Setting the padding to 0 fixes the issue, but causes gridlines to show up. codesandbox.io/s/30mnr18pj1

[2018-12-10 21:34] boygirl commented on #1197
@rudasoftware I'd love to see your wrapper so I can get more of an idea on of how you'd expect this to work. I think at a minimum adding `legendWidth` and `legendHeight` props would be appropriate. When provided these could _determine_ the `itemsPerRow` if it was not provided. This seems like the least breaking API change. Would that work for you, or are you expecting more control?

[2018-12-10 21:45] boygirl commented on #1196
@rudasoftware I think this issue is actually specific to `VictoryLabel` which is a bit of an odd component since it doesn't do any theme merging. Would it solve your problem to add `defaultStyles` as a static on the component class? If so, that's a pretty simple and consequence free change.

[2018-12-10 21:52] #1188 closed

[2018-12-10 21:58] boygirl commented on #1192
@hochmanjoel you should use the `VictoryChart` wrapper to keep the `domain` in sync between your axis and line components.

[2018-12-10 21:58] #1192 closed

[2018-12-10 22:04] boygirl commented on #1190
@charklewis I took a look at your sandbox, and the main issue was that `this.tickStyles` was not defined. Also, when you're using axes, it's better to use `VictoryChart` instead of `VictoryGroup` since it is designed to account for axis children. Here's an edited sandbox: https://codesandbox.io/s/xzv9v4y8wz

[2018-12-10 22:04] #1190 closed

[2018-12-10 22:05] rudasoftware commented on #1197
@boygirl, That prop interface sounds very appropriate!

I'll see if I can extract a clean JSFiddle from my design. I'm using `ramda` and recursion because I got bit hard by the FP bug when I migrated to React, haha, but I don't think I'm doing anything that couldn't easily be ported to `lodash`.

[2018-12-10 22:07] boygirl commented on #1189
@let-aurn thanks for the sandbox reproduction. That helps a ton. This definitely looks like a bug in Victory. I'll take a look.

[2018-12-10 22:09] rudasoftware commented on #1196
@boygirl, Yeah, that sounds very simple and sensible :)

I ran into this issue when trying to use a bare `VictoryLabel` not wrapped in anything that would attach to `theme`, so I guess that covers current (and currently conceivable) use cases.

[2018-12-10 22:19] boygirl commented on #1196
@rudasoftware Want to PR this change?

[2018-12-10 22:20] boygirl commented on #1197
<3 lodash

[2018-12-10 22:21] rudasoftware commented on #1197
GROSS IMPERATIVE, NON-POINTS-FREE-STYLE CODE AAAAAHHHHH
/jokes

[2018-12-10 22:23] rudasoftware commented on #1196
Sure! I broke down and finally cloned a local repo recently, because I got tired of searching through the github source without a convenient `Go to Declaration` or `Find Usages`.

[2018-12-10 22:33] rudasoftware commented on #1196
Hmm, I could move the definition of `defaultStyles` into the class, or I could just `static defaultStyles = defaultStyles`.

The latter seems great, because no other changes are required, no additional `this` cluttering up methods that reference it... potentially at the expense of obviousness/ambiguity.

[2018-12-10 22:37] boygirl commented on #1196
I prefer `static defaultStyles = defaultStyles`

[2018-12-10 22:38] rudasoftware commented on #1196
Awesome! Me too.

[2018-12-10 22:39] boygirl commented on #1196
No tests required since this won't change any behavior. If you want you could add one asserting that an instance has that static, but I would accept the PR without

[2018-12-10 22:42] rudasoftware commented on #1196
Hmm, that seems kind of silly because it won't actually test anything "real". So yeah, I agree, I'll pass on that.

So, do people here usually submit PRs with a topic branch? I'm pretty new to OSS contribution...

[2018-12-10 22:51] boygirl commented on #1196
Yep, please fork and branch. I'm working in making this project friendlier for first time contributors, so thank you for asking. I would love to hear about anything else that is unclear or confusing.

[2018-12-10 23:20] #1196 closed

[2018-12-11 01:31] rudasoftware commented on #1197
I think a great addition to contribution guidelines would be a style guide (e.g. use `lodash`, format ternaries/destructuring/newline-groupings like this, etc.) and an explanation of internal architecture (e.g. the rules of thumb for what to put in `modifyProps`, what in `getCalculatedProps`, etc. Order/location of operations kind of stuff).

[2018-12-11 15:01] hochmanjoel commented on #1192
@boygirl That worked, but how would I turn off the visibility of the axes? Would I just set their color to #FFFFFF?

[2018-12-12 17:36] scottdickerson commented on #1175
here's the simplest possible code pen to reproduce, notice the missing bar on the left:
https://codesandbox.io/s/5y5yyo7wqp

[2018-12-13 11:00] pkyeck opened #1201 "can't use just a Number for VictoryBar's y0"
I'm using `"victory-native": "^31.0.0"` but it is the same for `victory`.

I don't want to add `y0` to every data-item but set it globally for my `VictoryBar`.
Docs say I can use `type: string || integer || array[string] || function` but doing a `y0={1}` is ignoring the `1` and uses `0` instead.

![screenshot 2018-12-13 at 11 56 12](https://user-images.githubusercontent.com/870980/49934240-1db63a8

[2018-12-13 12:30] LuggPort-Thomas commented on #743
Click will not happen

[2018-12-13 16:22] pkyeck commented on #868
any updates?

[2018-12-13 18:35] cullenjett commented on #969
I've been playing around with this for a couple of days, and I'm feeling pretty humbled and defeated by it 🏳️. As mentioned there's a good chunk of `componentWillReceiveProps` logic surrounding animations in both the `<VictoryAnimation />` component and even some of the components higher up in the tree (`<VictoryChart />`, `<VictoryStack />`, `<VictoryGroup />`).

@boygirl I agree that a refactor

[2018-12-13 19:46] peacechen commented on #969
@cullenjett
I've found that replacing `componentWillReceiveProps` with `componentDidUpdate` to be straight-forward.  Would you point me to a part of the code that you're trying to refactor?  I could give it a shot for you to review.

[2018-12-13 20:02] NoMan2000 opened #1203 "Displaying custom y axis values with VictoryChart and VictoryGroup"
<img width="1143" alt="screen shot 2018-12-13 at 11 59 00 am" src="https://user-images.githubusercontent.com/812215/49964175-b3ea6080-fece-11e8-9732-6823abdd5a85.png">

Screen shot of what my chart looks like.  On the y-axis, I want to be able to convert it from `0`, `20`, `40`, `60`, etc. to `0%`, `20%`, `40%`.

Here's the code that generates the chart.

[code]

How do I do that?  Same applies to

[2018-12-13 20:44] cullenjett commented on #969
@peacechen Excellent, thanks!

[Here's](https://github.com/FormidableLabs/victory/blob/master/packages/victory-core/src/victory-animation/victory-animation.js#L77) the core `cWRP` call that handles the animation loop. From first glance it seems like a quick rename to `cDU` and changing references to `nextProps` to `this.props` would do the trick, but that prevents the data (bar, line, etc.) from r

[2018-12-13 21:31] boygirl commented on #969
@cullenjett I think your suggested `react-lifecycles-compat` is a really good temporary fix, and definitely helpful. Please do PR this fix.

[2018-12-14 00:11] boygirl commented on #1201
@pkyeck yes, you should define it as a function. The integer values are meant for accessing arrays. I will clarify the docs on this point.

[2018-12-14 00:11] #1201 closed

[2018-12-14 00:17] boygirl commented on #1203
@NoMan2000 You'll need to define your own `VictoryAxis` components for this, and then use `tickFormat` to change how they are displayed. Here is some documentation. https://formidable.com/open-source/victory/docs/victory-axis/#tickformat.

The same applies for the styling for the tick labels. They need to be styled via the `VictoryAxis` components. https://formidable.com/open-source/victory/docs/v

[2018-12-14 00:17] #1203 closed

[2018-12-14 00:19] NoMan2000 commented on #1203
@boygirl Yes, that was the issue I was running into when I tried it.  But you might want to check the docs, because it tells you *not* to use Victory Axis w/ Victory Group.

https://formidable.com/open-source/victory/docs/victory-group/

[2018-12-14 00:50] NoMan2000 commented on #1203
Code with everything working, (but tooltips now don't).

[code]

[2018-12-14 01:08] boygirl commented on #1203
Yeah, I should clarify that so that it makes it obvious. What do you think of:
"`VictoryAxis` children should not be nested within `VictoryGroup`. Use `VictoryChart` instead."

[2018-12-14 01:10] NoMan2000 commented on #1203
Minor tweak:

"VictoryAxis children should not be nested within VictoryGroup. Nest inside a VictoryChart container instead."

Without that, it sounds like using the VictoryChart by itself will solve the problem.

[2018-12-14 01:11] boygirl commented on #1203
I'm not seeing a tooltip defined anywhere in the code above. Where are you expecting it?

[2018-12-14 01:11] boygirl commented on #1203
Nice. I'll add that to the docs.

[2018-12-14 01:32] NoMan2000 commented on #1203
I've added labelComponent as VictoryTooltip to the linecharts and the group chart, didn't work.

 Is there a discord server you guys use?  Github is not the best at communicating technical problems.

But if I can get you to update the docs, that two axis thing is really important and a source of confusion.  It definitely got me when I tried it the first time.

[2018-12-14 14:45] luciomartinez opened #1205 "React warning: Encountered two children with the same key"
# Bugs and Questions

### Checklist

* [X] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [X] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2018-12-14 16:59] boygirl commented on #1205
@luciomartinez thanks for the thorough issue description and reproduction.

[2018-12-14 17:05] cullenjett commented on #969
@boygirl As I was writing my PR notes I started second-guessing my rationale for adding `react-lifecycles-compat`, so I did some more research -- it seems the `UNSAFE_*` methods aren't actually polyfilled (see [this issue](https://github.com/reactjs/react-lifecycles-compat/issues/2)).

None of my changes implemented the new lifecycle methods, only changed to `UNSAFE_*` (and removed one or two `cWM

[2018-12-14 17:18] NoMan2000 commented on #1203
And the answer to my own question is that you have to put the containerComponent on the VictoryChart, not the VictoryLine or VictoryGroup.

[code]

[2018-12-14 17:31] boygirl commented on #1203
The two axis gotcha is called out in our docs in the FAQ section. Victory is complex and information design for the docs has definitely been challenging.

The docs also list a support channel on gitter, but we _just_ started the process of migrating to spectrum: https://spectrum.chat/victory. I'm still maintaining both for now, though.

[2018-12-15 19:14] boygirl opened #1206 "Add background for VictoryLabel"
Folks commonly ask how to add a background color to labels. Currently the way to do this is by creating a custom label component that renders the label and a `<rect/>` together in a `<g/>` tag.

Instead, `VictoryLabel` could add a `backgroundComponent` and `backgroundStyle` and do this rendering automatically. This could operate ~ identically to how `VictoryTooltip` uses the `Flyout` component, bu

[2018-12-17 14:55] MxFr opened #1207 "Victory-Chart/src/helper-methods.js getCalculatedProps Performance Impact for undocumented(?) feature"
# Bugs and Questions

### Checklist

* [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2018-12-17 19:22] boygirl commented on #1207
@MxFr the stringMap calculation is highly necessary as it is used to reconcile categorical data for `VictoryChart` / `VictoryGroup` / `VictoryStack`. Turning it off would break any chart using string data.

[2018-12-18 00:20] #1207 closed

[2018-12-18 08:07] MxFr commented on #1207
@boygirl Ok, I might have missed that since im just using numerical data.

If you dont mind I'll look into creating a pull request that improves the performance of the stringMap creation, as the current looks quite inefficent. It iterates twice over all data using Data.getData(which in turn clones each element using addEventKeys), just to extract two different properties. My current worst case sce

[2018-12-19 17:07] benwormald opened #1210 "Null values rendering on VictoryScatter"
# Bugs and Questions

### Checklist

* [ ] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

* [ ] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2018-12-24 15:35] vedadeepta opened #1217 "Typo in Readme FAQ - https://formidable.com/open-source/victory/docs/faq/#how-can-i-annotate-my-charts-with-lines-and-markers"
# Bugs and Questions

### Checklist

- [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

- [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2018-12-25 19:43] boygirl commented on #1217
@vedadeepta Thank you. I will move this issue to `victory-docs`

I need to update the docs to reflect a change. Victory no longer accepts arbitrary style attrs on the data prop. As a work around, you can still define things like `fill` on your data prop, but you will also need to explicitly reference them from your style object like:

[code]

[2018-12-25 19:43] boygirl commented on #1217
This issue was moved to FormidableLabs/victory-docs#588

[2018-12-25 19:43] #1217 closed

[2018-12-27 22:11] michowski opened #1220 "Rename `prop-types.js` to `custom-prop-types.js` in victory-core/src/victory-util"
# Feature Requests

### Checklist

- [x] I've read through the [Docs](https://formidable.com/open-source/victory/docs) and [Guides](https://formidable.com/open-source/victory/guides) to make sure this functionality doesn't already exist

- [x] I've searched open issues to make sure I'm not opening a duplicate issue

### Description

When running a build setup with less control over a config it is

[2018-12-27 22:19] ryan-roemer commented on #1220
That's confusing, as:

[code]

is totally valid and separate according to Node `require` semantics (followed by webpack in most cases). (Same thing could totally occur with `from "foo"` and `from "./foo"`).

If possible, could you put together a minimal public repository with installation, build and error reproduction steps to help us dig in and diagnose more? Thanks!!!

[2018-12-27 22:49] michowski commented on #1220
Thank you very much Ryan and my apologies for not stressing an important fact which you just mentioned:

As it always happens, I've figured it out only right after posting this issue :) ... Your solution is the fix indeed: I had to remove `'./'` and manually add all project-specific aliases:

[code]
Thank you very very very much!

[2018-12-27 22:49] #1220 closed

[2018-12-27 23:09] ryan-roemer commented on #1220
Haha, no worries @michowski -- often the process of talking through and issue sheds light on the resolution, even if a bit different than what the original details might suggest.

Thanks for your kind words for Victory and happy hacking :)

[2018-12-30 12:23] aranpx opened #1221 "Targeting specific VictoryPie in an SVG"
# Bugs and Questions

### Checklist

- [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

- [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2018-12-31 09:17] aranpx commented on #1221
This has been resolved by encapsulating each `VictoryPie` in a `<g>` group and placing the target `VictoryPie` at the bottom of the svg.

[2018-12-31 09:17] #1221 closed

[2019-01-02 22:00] #1123 closed

[2019-01-07 08:59] antonbehaeghe commented on #363
I'm trying to implement something like this with a custom LabelComponent. This component receives the x and y coordinates as props, but how do I go about positioning them correctly? I draw a line from the pie center to the x and y coordinates, but I want my actual label to be aligned with this. It also needs to be further away but I can't figure out the math for this. I've tried looking at the sou

[2019-01-08 02:13] cullenmcmahon opened #1224 "Zoom and Voronoi container crashes without warning."
# Bugs and Questions

### Checklist

- [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

- [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2019-01-08 19:42] boygirl commented on #1186
Released as `victory@31.1.0`

[2019-01-08 19:42] #1186 closed

[2019-01-08 19:42] boygirl commented on #1175
released as `victory@31.1.0`

[2019-01-08 19:42] #1175 closed

[2019-01-09 00:35] cullenmcmahon commented on #1224
Fun additional wrinkle, looks like there's some OS specificity to this issue, I ran into it on my PC running windows however my friend was unable to replicate it on his mac, both running latest Chrome.

[2019-01-11 19:47] Hypnosphi commented on #961
@boygirl did you get a chance to take a look at that? Can I help maybe?

[2019-01-11 23:44] njiang opened #1229 "VictoryGruop failed to render updated data"
We are developing a data visualization web app based on React, typescript and Victory.  We are using VictoryGroup to display a set of barcharts. The initial rendering works fine.  When we try to filter data with different dimensions, it fails to update the charts.  Below is the code:

public render() {
        var resData = this.props.componentData;
        var dchart = [];

        if (resData.da

[2019-01-12 17:57] Developer-Deep opened #1230 "Nesting VictoryPie with inner radius inside another VictoryPie"
# Bugs and Questions

### Checklist

- [✓] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

- [✓] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2019-01-16 20:31] scottdickerson commented on #1159
I found out the secret to reproduce

[2019-01-16 21:37] mattoni commented on #899
Did this end up getting pulled in?

[2019-01-16 23:35] boygirl commented on #1159
Weeeeeird! This will definitely help fix the issue. Thanks for doing the leg work

[2019-01-18 00:38] 1e1f commented on #928
+1, in my case it was "Chocolate", lol.

[2019-01-18 05:13] renhax opened #1231 "Poor performance when loading multiple dataset"
# Bugs and Questions

### Checklist

- [ ] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

- [ ] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2019-01-18 05:14] renhax commented on #1231
Reproduced in sandbox: https://codesandbox.io/s/50yww5nrqk

[2019-01-18 13:11] peddiraju26 opened #1232 "Can we add fixed Y-axis with scroll-able X-axis in Victory chart using VictoryAxis and VictoryBar?"
`<ScrollView horizontal={true} showsHorizontalScrollIndicator={false} style={{ marginLeft: 0 }}>

                    <View pointerEvents="none" style={{ flexDirection: 'row', flex: 1, marginTop: 0, paddingBottom: 0 }} >

                      <View style={{ justifyContent: 'center', marginRight: 25, }}>
                        <Text numberOfLines={1} style={{
                          position: '

[2019-01-18 13:43] pkyeck opened #1233 "VictoryBar: bars drawn even when outside domain"
# Bugs and Questions

### Checklist

- [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

- [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2019-01-18 19:23] Morasta commented on #1038
@devth : I'm currently working on something that sounds nearly identical. Did you end up with a solution and if so, do you have an example you'd be willing/able to share?

[2019-01-18 20:02] devth commented on #1038
No, I ended up building my own legend outside of Victory charts.

[2019-01-18 21:14] mAAdhaTTah opened #1234 "VictoryBoxPlot: Make labelOrientation accept array of positions"
# Feature Request

### Checklist

- [X] I've read through the [Docs](https://formidable.com/open-source/victory/docs) and [Guides](https://formidable.com/open-source/victory/guides) to make sure this functionality doesn't already exist

- [X] I've searched open issues to make sure I'm not opening a duplicate issue

### Description

I'm working with the BoxPlot and in our data sets, we're often see

[2019-01-21 21:09] martingordon opened #1235 "VictoryBoxPlot: Can't set independent tick values when horizontal"
# Bugs and Questions

### Checklist

- [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

- [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2019-01-22 12:11] mgreca opened #1236 "VictoryBar: paddings are not calculated correctly"
# Bugs and Questions

### Checklist

- [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

- [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2019-01-22 17:39] scottdickerson opened #1237 "VictoryArea not rendering VictoryTooltip"
# Bugs and Questions

### Checklist

- [X] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

- [X] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2019-01-22 17:56] scottdickerson commented on #1237
Sorry figured it out, needed the VoronoiContainer

[2019-01-22 17:56] #1237 closed

[2019-01-23 17:54] patrickalbani commented on #659
happens the same here, using the last version "victory": "^31.1.0",

[2019-01-27 20:44] mattoni opened #1242 "Change line color based on y value"
Is it possible using a VictoryLine to change the color of a section of the line if it rises above a certain Y value? Say y < 5, we can make the color of that portion of the line blue, but if y > 5 the section of the line above 5 is red?

[2019-01-28 21:43] boygirl commented on #969
Legacy lifecycle methods were removed for `victory@31.2.0`

[2019-01-28 21:43] #969 closed

[2019-01-28 21:43] boygirl commented on #620
Supported as of `victory@31.2.0`

[2019-01-28 21:43] #620 closed

[2019-01-28 21:46] boygirl commented on #1242
It is possible, but you will need to use a gradient stroke. Here are some examples that use a gradient fill on VictoryArea:

https://formidable.com/open-source/victory/gallery/stream-graph/
https://formidable.com/open-source/victory/docs/faq/#how-can-i-use-gradient-fills-in-victory

[2019-01-28 21:46] #1242 closed

[2019-01-28 21:55] boygirl commented on #1233
@pkyeck this is the expected behavior, as it is necessary to allow things like zooming to work. If you would like your chart to cut off cleanly at the axes you can use `VictoryClipContainer` as the `groupComponent` by adding this prop to `VictoryBar`

`groupComponent={<VictoryClipContainer/>}`

[2019-01-28 21:55] #1233 closed

[2019-01-30 01:00] mAAdhaTTah commented on #1033
I made a couple of upstream changes to the types as well, but I will also mention that Victory's cloneElement heavy approach makes typing difficult. Props that take a component "instance" rather than just the component error on the missing props that are provided by Victory later. I'm open to upstreaming any fixes that solve this but I'm not sure how to approach besides just making everything opti

[2019-01-31 00:48] JonnyLinja commented on #1125
I replicated this consistently in my development environment. The following crashes.

[code]

I resolved the crash by moving the two VictoryAxis components AFTER the two VictoryLine components.

Removing the VictoryGroup resolves the crash as well, but I needed VictoryGroup there for linear gradient and VictoryArea purposes in the non stripped down version.

Hope that helps.

[2019-01-31 00:54] boygirl commented on #1125
@JonnyLinja  I'm confused by your use of `VictoryGroup`. It is not intended to nest `VictoryChart` or axis components within it. You should be able to use `VictoryChart` as your top level component and supply it with arbitrary svg children.

[2019-01-31 00:55] JonnyLinja commented on #1125
That would explain it then. I was following some example that had Chart nested within a Group.

[2019-02-01 07:13] gajendraprajapati commented on #431
@boygirl is there any way to use victoryGroup with custom domains for each y axis ?

[2019-02-01 17:05] Joeao commented on #659
Same issue occurring with 31.2.0

[2019-02-04 01:19] desbrowne opened #1246 "Stacked area chart with scatter points broken by v0.27.1 changes"
# Bugs and Questions

### Checklist

- [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

- [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2019-02-04 16:24] mAAdhaTTah commented on #1234
@boygirl Sounds good! Working on it now...

[2019-02-05 12:13] dieterwalckiers commented on #1002
I had the same problem, and found out it has to do with the specific combination of having a `domainPadding` attribute set, and only 1 entry in the `data`. Removing the domainPadding in this situation solves it for me.

[2019-02-06 10:49] brucegibbins opened #1248 "Invariant"
# Bugs and Questions

### Checklist

- [ ] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

- [ ] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2019-02-06 10:50] #1248 closed

[2019-02-08 21:45] mpcen commented on #1037
After 3 hours, you have saved me! Thank you

[2019-02-09 12:27] MarcinGren opened #1249 "VictoryAxis generated multiple times - issue with dependencies / stringMap"
# Bugs and Questions

### Checklist

- [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

- [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2019-02-13 11:18] helenproudloveraisingit opened #1250 "Console warnings rendering Victory Chart"
### The Problem

We are seeing numerous warnings associated with the svg rendering, references to properties on the svg that don't exist and we are not setting them.

![image](https://user-images.githubusercontent.com/43134932/52707890-aa3db180-2f80-11e9-9813-6116c2757f64.png)

We are trying to use a dual y axis graph (example is https://formidable.com/open-source/victory/guides/custom-charts/) wh

[2019-02-14 15:36] seriously-sian opened #1251 "Voronoi Container Tooltip is displaying the wrong data"
# Bugs and Questions

### Checklist

- [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

- [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2019-02-15 10:34] Eric0201 opened #1252 "How to change troke color in line chart when y < 0?"
Hello , how to change color troke line chart same picture? i try it but not working
![03-block-lifeplanchart](https://user-images.githubusercontent.com/38023513/52851155-f4bd5a80-3147-11e9-8e3d-0ec6fda35811.png)

[2019-02-15 23:46] boygirl commented on #1252
Since Victory renders a single element for areas and lines, it can't automatically color sections of a line or area differently automatically. Instead you can use a gradient fill or stroke. Here's a similar example: https://formidable.com/open-source/victory/gallery/stream-graph/

[2019-02-15 23:46] #1252 closed

[2019-02-18 01:45] Eric0201 commented on #1242
have you solved this?

[2019-02-18 07:31] praveenkumarr88 opened #1253 "Victory Legend not able to align title relatively (eg : bottom center)"
# Bugs and Questions

### Checklist

- [ ] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

- [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2019-02-18 10:40] TeresaZhang7517 opened #1254 "renderInPortal of VictoryTooltip is not working under VictoryVoronoiContainer"
# Bugs and Questions

### Checklist

- [ ] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

- [ ] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2019-02-19 08:04] TeresaZhang7517 commented on #1254
It is working when I create a custom component for Tooltip as below,
![image](https://user-images.githubusercontent.com/36947669/52999139-fa74b200-345f-11e9-97e0-d9ebeffafaad.png)
![image](https://user-images.githubusercontent.com/36947669/52999118-ec269600-345f-11e9-8617-f0779a0b03eb.png)
But I don't know why it is working under <g> tag. :(

[2019-02-21 09:34] eled30 opened #1255 "Console log errors rendering victory chart and using react-router-dom"
# Bugs and Questions

### Checklist

- [v ] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

- [v ] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a questi

[2019-02-21 23:50] mattoni commented on #899
Follow up, how can I make the tooltip follow the mouse but NOT stop at the svg width? The tooltip component doesn't seem to want to go outside the boundaries and bumps up against it instead of following the mouse.

[2019-02-23 21:45] #1234 closed

[2019-02-27 22:53] satyasinha94 opened #1259 "VictoryZoomContainer only renders chart after manual zoom"
# Bugs and Questions

### Checklist

- [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

- [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2019-02-28 06:24] boygirl commented on #1246
@desbrowne this issue is fixed in `victory@32.0.0`

[2019-02-28 06:24] #1246 closed

[2019-02-28 09:24] TeresaZhang7517 opened #1260 "Catch big error after installed the latest victory version"
# Bugs and Questions

### The Problem
Catch a big error after installed the latest victory version. Details as below. Could help to solve this issue? Thanks very much.

### Description
![image](https://user-images.githubusercontent.com/36947669/53555698-66040100-3b7d-11e9-9f20-c1afab6a96e0.png)
![image](https://user-images.githubusercontent.com/36947669/53555764-8a5fdd80-3b7d-11e9-8285-5701adbe31a

[2019-03-01 02:47] desbrowne commented on #1246
Great, so appreciate this @boygirl

[2019-03-02 09:06] aqui18 opened #1261 "The `VictoryGroup` component theme overrides any styles from child `VictoryBoxPlot` components."
### The Problem
The `VictoryGroup` component theme overrides any styles from child `VictoryBoxPlot` components.
I would have thought that anything specified in the `style` prop would override the theme.

Using version 31.3.0.

### Reproduction
Wrap `VictoryBoxPlot` with a `VictoryGroup` component.
Example from [documentation](https://formidable.com/open-source/victory/docs/victory-boxplot/#style).

[2019-03-02 18:15] js-jegan opened #1262 "Moving Grid lines between the adjacent bars in Bar chart"
Hi, I’m implementing charts for a react-native mobile app using victory charts. Wanted to know is there any tweaks available to move the grid between the bars of the bar chart rather than the grid like being on center of the bar.
In d3, we can get the barStep using the axis scale. Lookingfor something similar so that I can move the linesegment of grid component accordingly. If needed I canupload i

[2019-03-04 17:55] gnijuohz opened #1263 "external event mutations aren't applied in some cases"
# Bugs and Questions

### Checklist

- [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

- [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2019-03-04 21:26] JureSotosek opened #1264 "How to apply mixBlendMode attribute to the VictoryArea chart."
### The Problem

`
<VictoryArea
    data={data}
    style={{ data: { mixBlendMode: 'multiply' } }}
/>`

### CodeSandBox

https://codesandbox.io/s/8l6plz2zo9

What im trying to achive:
<img width="1680" alt="screenshot 2019-03-04 at 22 42 55" src="https://user-images.githubusercontent.com/16746406/53764924-ec4a7b00-3ece-11e9-804c-3e2a96f2c0a3.png">

### Description

I have a grid behind an VictoryA

[2019-03-05 10:25] JureSotosek commented on #1264
The solution was:
`<VictoryArea data={data} style={{ parent: { mixBlendMode: 'multiply' } }} />`

[2019-03-05 10:25] #1264 closed

[2019-03-05 18:57] mettjus opened #1265 "VictoryArea stroke vanishes in polar chart"
# Bugs and Questions

### Checklist

- [x] This is not a `victory-native` specific issue.

- [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

- [x] I am using the latest version of Victory (v32.0.0)

- [x] I've searched open issues to make sure I'm not opening a duplicat

[2019-03-05 23:40] jmitchell33 commented on #723
How did you resolve this issue?  I'm having the same problem with the tooltips showing all the time inside the ZoomContainer.

[2019-03-06 15:10] jayasivabaskar opened #1267 "VictoryTooltip near mousehover point"
Is there any way to show victory tooltip near the mouse hover point, i.e(changing the position of tooltip when the mouse hover point changes) for bar, pie, groupbar?

[2019-03-06 15:46] sindhu465 commented on #723
I am not working on that now.So,I don’t remember exactly but I made some changes below:
onMouseOut:()=>

Sent from my iPhone

[2019-03-07 16:55] nbuonin opened #1268 "Alignment of VictoryTooltip on scatter plot"
# Bugs and Questions

### Checklist

- [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

- [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2019-03-08 18:01] jorihardman opened #1269 "VictoryLine domainPadding does not pad the bottom of the y domain when given a positive lower bound"
### The Problem

When using a positive integer as the lower bound of the y `domainPadding` parameter for `VictoryLine`, it does not increase the padding. This causes the line to be cut off at the bottom of the domain when you have a wide stroke width.

### Reproduction

https://codesandbox.io/s/6xjnqx51vz

In this example, I have a very wide strokeWidth (10). Without domainPadding, the strokeWidth

[2019-03-10 07:28] boygirl commented on #1269
@jorihardman by default `domainPadding` is coerced so that it only pads within existing quadrants (i.e. it will never make you domain go negative because that can make your axes look strange). To turn off this behavior add the awkwardly named prop: `singleQuadrantDomainPadding={false}`. You can read more about it here: https://formidable.com/open-source/victory/docs/common-props/#singlequadrantdom

[2019-03-10 07:28] #1269 closed

[2019-03-10 07:34] #1265 closed

[2019-03-10 15:58] solace opened #1270 "Grouping items for colorScale"
# Bugs and Questions

### Checklist

- [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

- [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2019-03-11 12:19] mgreca commented on #775
We are still having this issue and we are unmounting and mounting the chart every time but this has super low performance.

[2019-03-12 18:02] johndturn commented on #531
I'm still seeing this bug for `VictoryPie` as well. @lgerndt 's solution is working for me for the most part, though it's not ideal. I'd just like to check in and see if there's any word on a fix for this?

[2019-03-12 18:51] boygirl commented on #1263
@gnijuohz thanks for the reproduction. I was able to see the issue in your reproduction if I moved my mouse very quickly. I changed your `onMouseEnter` to `onMouseOver` and I can no longer see the issue. I think it may not be related to external events in Victory. I'm going to close this issue for now, but let me know if it persists for you with `onMouseOver`

[2019-03-12 18:51] #1263 closed

[2019-03-12 19:43] boygirl commented on #1260
@TeresaZhang7517 Hi there! I'm guessing this is caused by a different version of `prop-types`, but I will release a patch that changes the prop declaration back to the more common `shape` instead of `exact`

[2019-03-12 19:57] boygirl commented on #1259
@satyasinha94 the issue here is that `VictoryScatter` is using a default domain of [0, 1], and your `zoomDomain` is set to [0, 75]. When you zoom, the domain is reset on all of the child components. This can be a super strange scenario when you don't have any data. Try adding a domain to your child component so you can see what's going on:
[code]

Or try with a component with data:
[code]

[2019-03-12 19:57] #1259 closed

[2019-03-12 19:59] boygirl commented on #1270
@solace unfortunately there isn't a way to have colorScale operate across all elements of a group. It would be better to assign them manually.

[2019-03-12 19:59] #1270 closed

[2019-03-12 20:16] boygirl commented on #1262
@js-jegan yes! You can manually set the `tickValues` on your `VictoryAxis` component so that they are offset from your bars like so:
[code]
Here's more information on axis `tickValues`: https://formidable.com/open-source/victory/docs/victory-axis/#tickvalues

Or if you just want your bars set to one side or the other of the grid line you can use the `alignment` prop on `VictroyBar`:
https://formid

[2019-03-12 20:16] #1262 closed

[2019-03-12 20:34] gnijuohz commented on #1263
Hi @boygirl thanks for looking into it! I also tried  `onMouseOver` and it indeed worked. However, judging by the console in the sandbox, the handlers(`onMouseOver/Leave` or `onMouseEnter/Leave`) are always called in pairs, so it's puzzling why one pair works while the other doesn't. `onMouseEnter` and `onMouseEnter` are also used together more.

But I agree this may not be a Victory bug, thanks a

[2019-03-12 23:17] #1260 closed

[2019-03-13 06:45] kevinfelisilda commented on #264
thanks, `singleQuadrantDomainPadding` solves the issue i'm facing.

[2019-03-13 13:19] goldo opened #1272 "bug with Chrome 73 + VictoryZoomContainer Zoom"
# Bug

### Checklist

- [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

- [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

- [x] I am us

[2019-03-13 15:28] adamgrossman opened #1273 "Animation on VictoryBar with y0 values"
# Bugs and Questions

### Checklist

- [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

- [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2019-03-14 06:26] CorayThan opened #1274 "Scroll doesn't work on android"
# Bugs and Questions

### Checklist

- [yes ] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

- [ yes] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a qu

[2019-03-15 13:17] kaitmore opened #1275 "voronoiBlacklist prop should take regex"
# Bugs and Questions

### Checklist

- [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

- [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2019-03-15 13:32] kaitmore opened #1276 "Cursor component sticks when moving between charts"
# Bugs and Questions

### Checklist

- [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

- [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2019-03-15 14:47] dallashuggins opened #1277 "Incorrect error: React does not recognize the `verticalAnchor` prop on a DOM element"
Anytime you scroll over one of the elements within any of the Victory charts we're rendering, we get the error "React does not recognize the `verticalAnchor` prop on a DOM element". For instance, one of the charts we are rendering is a bar chart and when you hover over an individual bar, this error appears in the console logs. This is the same with all of the other charts, whenever you hover over

[2019-03-15 20:17] boygirl commented on #1235
@martingordon

The recent major version of victory did a lot of work to make horizontal charts more consistent, and I believe it addresses this issue. I've updated your sandbox to take the breaking changes in `victory@32.0.0` into account: https://codesandbox.io/s/l9n3pnvoq7

I recommend reading the changelog as well, it covers all the breaking changes and explains how to migrate: https://github.c

[2019-03-15 20:17] #1235 closed

[2019-03-15 20:26] boygirl commented on #1232
You can do something like this with `VictoryZoomContainer` with `zoomDimension="x"`. More information here: http://localhost:3000/docs/victory-zoom-container

[2019-03-15 20:26] #1232 closed

[2019-03-15 20:30] boygirl commented on #1255
@eled30 I can't reproduce the problem from this information. If your problem persists please open an issue with a codesandbox example.

[2019-03-15 20:30] #1255 closed

[2019-03-15 20:35] boygirl commented on #1277
@dallashuggins after looking at your sandbox, I believe this issue is happening because you have added `labelComponent={<div />}`. `VictoryTooltip` provides a bunch of props to its `labelComponent` that don't belong on a div. I'm going to close this issue, but please open another if you're having trouble getting your custom tooltips working.

[2019-03-15 20:35] #1277 closed

[2019-03-15 20:38] boygirl commented on #1276
@kaitmore thanks for this issue. I think what's going on is that the throttled `onMouseLeave` is too slow and misses some events. I'll double check, and remove the throttling on this handler if it looks like it isn't always being called.

[2019-03-15 20:44] boygirl commented on #1273
VictoryBar uses some default entrance / exit / load transitions that look like this:

[code]

Since you have a non-zero y0 value, you will want to alter these to your new baseline. I've forked your sandbox and changed the values: https://codesandbox.io/s/ov9mrlyolz

Since you don't have any exit or entrance transitions, only the onLoad change is necessary, but I've included the others just in case

[2019-03-15 20:44] #1273 closed

[2019-03-15 20:47] boygirl commented on #1272
@goldo thanks for this issue and related information. I'll take a look as soon as I can

[2019-03-15 20:48] boygirl commented on #1268
@nbuonin thanks for this issue! A general audit of tooltip alignment is actually next up in my work queue. I'll keep you posted

[2019-03-15 23:09] narinluangrath commented on #1275
I'll take a crack at this!

[2019-03-15 23:30] dallashuggins commented on #1277
Awesome, thanks! I added a component and am now passing it into VictoryTooltip's `labelComponent`, which fixed the error.

[code]

[2019-03-20 14:52] kaitmore commented on #1275
thanks @narinluangrath!

[2019-03-25 23:35] #1275 closed

[2019-03-26 14:18] MrHen opened #1279 "Grouped, Stacked Scatter points do not respect minDomain"
# Bugs and Questions

### Checklist

- [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

- [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2019-03-26 14:49] MrHen commented on #1279
Quick update, looks like the core issue is just `VictoryScatter`. The following example also shows data outside of the domain:

[code]

[2019-03-27 09:51] alvaromb commented on #489
Sorry to jump into an old issue. I'm struggling with the exact example that @ShMcK describes, however I cannot find any way to reset label styles when I select any bar of the `VictoryBar` component.

I want to highlight the label of a bar when I select the bar, but when I select any other, I want to return the previously selected label to the initial state.

Do you have any full example of this @b

[2019-03-27 13:26] orionsa opened #1280 "Bug: Wrong values after animation interpolation in VictoryBar"
# Bugs and Questions

### Checklist

- [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

- [x ] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a questio

[2019-03-27 17:25] flipchart opened #1281 "Mixing horizontal & vertical components in a single chart"
# Bugs and Questions

### Checklist

- [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

- [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2019-03-27 18:00] boygirl commented on #1281
@flipchart it is no longer possible to have elements that render in horizontal and standard orientations _automatically_ within the same chart. This is generally an improvement as horizontal orientations were not really supported for things like `VictoryLine` prior to this change, and props like `domain` needed to be flipped to switch between horizontal and vertical orientations. In v32 you will n

[2019-03-27 18:00] #1281 closed

[2019-03-27 19:10] flipchart commented on #1281
@boygirl Thanks so much! Works a charm. Very glad I could continue using Victory :)

For those looking for a quick reference, flipping the orientation is achieved with the following props:
[code]

[2019-03-27 23:38] boygirl commented on #1280
@orionsa thanks for the reproduction. It looks like the animation isn't quite completing, but `onEnd` is still being called. I'll take a look.

[2019-03-28 14:09] ecnaidar commented on #1156
@boygirl
Having the same issue
Theme gets lost somewhere before rendering of the `<VictoryTooltip />` and during evaluation of `getCalculatedValues` it defaults to greyscale.
https://github.com/FormidableLabs/victory/blob/1eb61fb20969254e559c3fde8c9a98f202a5ea6d/packages/victory-tooltip/src/victory-tooltip.js#L198

Interestingly enough theme seems to be passed through to tooltips created by vorono

[2019-03-30 17:57] DingoEatingFuzz opened #1282 "VictoryLine animations don't always complete under high cpu pressure when animate is chart-level"
### Checklist

- [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

- [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

- [x] I am using the

[2019-04-01 13:37] artur-ott commented on #1041
Is there any solution to the problem by now?

Because i would like to do the same thing and i could not find any so far.

[2019-04-01 19:04] bewildergeist commented on #1041
@artur-ott I solved my above use case with a combination of conditional grid line styles on the Y axis and three different `<VictoryArea />` elements (green, yellow, red) placed behind (i.e. before in the source code) the `<VictoryAxis />` and `<VictoryLine />` elements. All styled by some predefined thresholds.

So for the Y axis:

[code]

And for the areas between grid lines (where `fromDate` an

[2019-04-02 06:09] jakubgrzelak opened #1284 "Centering text inside Victory Pie"
# Bugs and Questions

### Checklist

- [x] This is not a `victory-native` specific issue. (Issues that only appear in `victory-native` should be opened [here](https://github.com/FormidableLabs/victory-native/issues/new))

- [x] I have read through the [FAQ](https://formidable.com/open-source/victory/docs/faq) and [Guides](https://formidable.com/open-source/victory/guides/) before asking a question

[2019-04-02 06:11] jakubgrzelak commented on #1284
Hey! I am trying to center the next inside Victory Pie. The code looks like that.
`          <View style={styles.pieContainer}>
            <Svg>
              <VictoryPie
                width={250}
                height={250}
                padAngle={zerosCount === 2 ? 0 : 3}
                innerRadius={85}
                data={graphData}
                colorScale={['#01C063', '#4B4190', '#

[2019-04-02 06:15] jakubgrzelak commented on #1284
Unfortunately output looks like that
![Simulator Screen Shot - iPhone XS Max - 2019-04-02 at 08 03 55](https://user-images.githubusercontent.com/32885164/55379986-14a1b580-551f-11e9-9465-f8aa6f2acd78.png)
The first line looks ok but I cannot center the second line on the screen. This is the biggest problem. It is not an issue related to missing `viewBox` on `svg`. I checked it already. Please have

[2019-04-02 18:14] boygirl commented on #1284
@jakubgrzelak thanks for the reproduction. I'll take a look and see if something is wrong with the `textAnchor` styling in `VictoryLabel`. As a temporary solution you can try adding your text as two separate `VictoryLabel` components

[2019-04-04 03:21] gasolin opened #1285 "[VictoryCandleStick] render same stroke color with the positive/negative color"
# Feature Requests

### Checklist

- [x] I've read through the [Docs](https://formidable.com/open-source/victory/docs) and [Guides](https://formidable.com/open-source/victory/guides) to make sure this functionality doesn't already exist

- [x] I've searched open issues to make sure I'm not opening a duplicate issue

### Description

Read the doc https://formidable.com/open-source/victory/docs/vict

[2019-04-04 03:22] DingoEatingFuzz commented on #928
I ran into this today too: https://codesandbox.io/s/xjz0l4wwj4

I wonder if it's worth waiting for d3-interpolate? That PR has been open for a year an a half at this point.

[2019-04-04 03:39] wootencl commented on #86
For anyone else that stumbles upon this see [here](https://github.com/FormidableLabs/victory/blob/master/CHANGELOG.md#0260-2018-04-21) regarding `fill` and `data`.